.map_main{
	width: 100%;
	color: #666;
	margin-left:-10px; 
}
.map_center{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.map_top{
	width: 100%;
	height: 55px;
	padding-top: 15px;
	background-color: rgba(255,255,255,0.6); 
	box-shadow :3px 1px 5px 1px rgba(0,0,0,0.2); 
/* 	position: absolute; */
	z-index: 5
}
.map_top span{
	height: 38px;
	line-height: 35px;
	display: line-block;
	padding: 0 20px;
	margin-left: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 18px;
	color: #666;
	float: left;
}
.map_top a{
	width: 165px;
	height: 38px;
	line-height: 35px;
	padding-left: 135px;
	margin-right: 20px;
	background:url(../images/more.png) no-repeat #fff 100px 9px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	color: #666;
	float: right;
}
.map_top a:hover,.map_top a:active{
	background:url(../images/more_w.png) no-repeat #006699 100px 9px;
	border: 1px solid #006699;
	color: #fff;
}
.map_top a.return{
	width: 65px;
	padding-left: 55px;
	background:url(../images/return.png) no-repeat #fff 30px 9px;
	display: none;
}
.map_top a.return:hover,.map_top a.return:active{
	background:url(../images/return_w.png) no-repeat #006699 30px 9px;
	border: 1px solid #006699;
	color: #fff;
}
#map{
	width: 100%;
	height: 600px;
	z-index: 9
}
.map_popup{
	width: 420px;
	height: 530px;
	position: absolute;
	top:15px;
	right: -320px;
	background: #fff;
	border-radius: 5px;
	border:1px solid #d9d8d4;
	box-shadow:0px 0px 8px 1px rgba(0,0,0,0.2);
}
.map_popup p{
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-size: 16px;
	background: #f5f5f5;
	color: #333;
}
.map_popup p a{
	width: 40px;
	height: 40px;
	background: url(../images/close.png) no-repeat 15px;
	display: block;
	float: right;
}
.map_btn{
	height: 53px;
	padding: 15px 0 0 15px;
}
.map_btn input{
	width: 135px;
	height: 35px;
	padding-left: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 14px;
	display: none;
}
.map_btn span{
	width: 147px;
	display: block;
	float: left;
}
.map_btn em{
	font-size: 14px;
	line-height: 38px;
}
.map_btn a{
	width: 50px;
	height: 35px;
	line-height: 35px;
	margin-left: 10px;
	background:#f5f5f5;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	color: #666;
	float: left;
}


.item_edit input{
	display: block;
}
.item_edit a{
	display: none;
}


.map_btn a:hover,.map_btn a:active{
	background: #006699;
	border: 1px solid #006699;
	color: #fff;
}

.map_list{
	margin: 0 15px;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
.map_list ul{
	height: 325px;
}
.map_list p{
	background: #fff;
	padding-left: 0;
}
.map_list li{
	height: 35px;
}
.map_list span{
	width: 147px;
	display: block;
	float: left;
}
.map_list em{
	width: 100px;
	
}
.map_list input{
	width: 115px;
	height: 25px;
	padding-left: 5px;
	border: 1px solid #ddd;
	border-radius: 2px;
	font-size: 14px;
	display: none;
}
.map_list2 input{
	display: none;
}
.regiona{
	width: 70px;
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
	background:#f5f5f5;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 2px;
	font-size: 14px;
	color: #666;
	float: left;
}


.map_list .item_edit em{
	display: none
}
.map_list .item_edit input{
	display: block;
}

.map_list li a:hover,.map_list li a:active{
	background: #006699;
	border: 1px solid #006699;
	color: #fff;
}
.map_list div a{
	width: 110px;
	height: 38px;
	line-height: 38px;
	display: block;
	background:#f5f5f5;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 2px;
	font-size: 14px;
	color: #666;
}
.map_list div a:hover,.map_list div a:active{
	background: #006699;
	border: 1px solid #006699;
	color: #fff;
}
.map_bottom{
	width: 100%;
	height: 100px;
	background: #f5f5f5;
	border-top:1px solid #ddd; 
	position: fixed;
	bottom: 0;
}
.map_bottom dl{
	padding:15px 0 0 15px;

}
.map_bottom dt{
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
}
.map_bottom dd{
	font-size: 14px;
	color: #666;
}

