<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IAccountAuthorityDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.AccountAuthority" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="AccountId" property="accountid" jdbcType="INTEGER" />
    <result column="AuthorityId" property="authorityid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, AccountId, AuthorityId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from accountauthority
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from accountauthority
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.AccountAuthority" >
    insert into accountauthority (Id, AccountId, AuthorityId
      )
    values (#{id,jdbcType=INTEGER}, #{accountid,jdbcType=INTEGER}, #{authorityid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.AccountAuthority" >
    insert into accountauthority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="accountid != null" >
        AccountId,
      </if>
      <if test="authorityid != null" >
        AuthorityId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountid != null" >
        #{accountid,jdbcType=INTEGER},
      </if>
      <if test="authorityid != null" >
        #{authorityid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.AccountAuthority" >
    update accountauthority
    <set >
      <if test="accountid != null" >
        AccountId = #{accountid,jdbcType=INTEGER},
      </if>
      <if test="authorityid != null" >
        AuthorityId = #{authorityid,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.AccountAuthority" >
    update accountauthority
    set AccountId = #{accountid,jdbcType=INTEGER},
      AuthorityId = #{authorityid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>