<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IAppVersionDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.AppVersion" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Version" property="version" jdbcType="NVARCHAR" />
    <result column="IsMust" property="ismust" jdbcType="BIT" />
    <result column="UpdateUrl" property="updateurl" jdbcType="NVARCHAR" />
    <result column="Message" property="message" jdbcType="NVARCHAR" />
    <result column="PlatForm" property="platform" jdbcType="TINYINT" />
    <result column="UserType" property="usertype" jdbcType="TINYINT" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Version, IsMust, UpdateUrl, Message, PlatForm, UserType, CreateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AppVersion
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AppVersion
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.AppVersion" >
    insert into AppVersion (ID, Version, IsMust, 
      UpdateUrl, Message, PlatForm, 
      UserType, CreateDate)
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=NVARCHAR}, #{ismust,jdbcType=BIT}, 
      #{updateurl,jdbcType=NVARCHAR}, #{message,jdbcType=NVARCHAR}, #{platform,jdbcType=TINYINT}, 
      #{usertype,jdbcType=TINYINT}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.AppVersion" >
    insert into AppVersion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="version != null" >
        Version,
      </if>
      <if test="ismust != null" >
        IsMust,
      </if>
      <if test="updateurl != null" >
        UpdateUrl,
      </if>
      <if test="message != null" >
        Message,
      </if>
      <if test="platform != null" >
        PlatForm,
      </if>
      <if test="usertype != null" >
        UserType,
      </if>
      <if test="createdate != null" >
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NVARCHAR},
      </if>
      <if test="ismust != null" >
        #{ismust,jdbcType=BIT},
      </if>
      <if test="updateurl != null" >
        #{updateurl,jdbcType=NVARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=NVARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=TINYINT},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.AppVersion" >
    update AppVersion
    <set >
      <if test="version != null" >
        Version = #{version,jdbcType=NVARCHAR},
      </if>
      <if test="ismust != null" >
        IsMust = #{ismust,jdbcType=BIT},
      </if>
      <if test="updateurl != null" >
        UpdateUrl = #{updateurl,jdbcType=NVARCHAR},
      </if>
      <if test="message != null" >
        Message = #{message,jdbcType=NVARCHAR},
      </if>
      <if test="platform != null" >
        PlatForm = #{platform,jdbcType=TINYINT},
      </if>
      <if test="usertype != null" >
        UserType = #{usertype,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.AppVersion" >
    update AppVersion
    set Version = #{version,jdbcType=NVARCHAR},
      IsMust = #{ismust,jdbcType=BIT},
      UpdateUrl = #{updateurl,jdbcType=NVARCHAR},
      Message = #{message,jdbcType=NVARCHAR},
      PlatForm = #{platform,jdbcType=TINYINT},
      UserType = #{usertype,jdbcType=TINYINT},
      CreateDate = #{createdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>