<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IAuthorityDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.Authority" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="AuthorityType" property="authoritytype" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, AuthorityType, Name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from authority
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from authority
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.Authority" >
    insert into authority (Id, AuthorityType, Name
      )
    values (#{id,jdbcType=INTEGER}, #{authoritytype,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.Authority" >
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="authoritytype != null" >
        AuthorityType,
      </if>
      <if test="name != null" >
        Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="authoritytype != null" >
        #{authoritytype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.Authority" >
    update authority
    <set >
      <if test="authoritytype != null" >
        AuthorityType = #{authoritytype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.Authority" >
    update authority
    set AuthorityType = #{authoritytype,jdbcType=INTEGER},
      Name = #{name,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>