<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IAuthorityDepartmentDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.AuthorityDepartment" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="ParId" property="parid" jdbcType="INTEGER" />
    <result column="DepartName" property="departname" jdbcType="VARCHAR" />
    <result column="BeLock" property="belock" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ParId, DepartName, BeLock
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AuthorityDepartment
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AuthorityDepartment
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.AuthorityDepartment" >
    insert into AuthorityDepartment (Id, ParId, DepartName, 
      BeLock)
    values (#{id,jdbcType=INTEGER}, #{parid,jdbcType=INTEGER}, #{departname,jdbcType=VARCHAR}, 
      #{belock,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.AuthorityDepartment" >
    insert into AuthorityDepartment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="parid != null" >
        ParId,
      </if>
      <if test="departname != null" >
        DepartName,
      </if>
      <if test="belock != null" >
        BeLock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parid != null" >
        #{parid,jdbcType=INTEGER},
      </if>
      <if test="departname != null" >
        #{departname,jdbcType=VARCHAR},
      </if>
      <if test="belock != null" >
        #{belock,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.AuthorityDepartment" >
    update AuthorityDepartment
    <set >
      <if test="parid != null" >
        ParId = #{parid,jdbcType=INTEGER},
      </if>
      <if test="departname != null" >
        DepartName = #{departname,jdbcType=VARCHAR},
      </if>
      <if test="belock != null" >
        BeLock = #{belock,jdbcType=BIT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.AuthorityDepartment" >
    update AuthorityDepartment
    set ParId = #{parid,jdbcType=INTEGER},
      DepartName = #{departname,jdbcType=VARCHAR},
      BeLock = #{belock,jdbcType=BIT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>