<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IBusinessBalanceRecordDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.BusinessBalanceRecord" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="BusinessId" property="businessid" jdbcType="INTEGER" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="SMALLINT" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
    <result column="RecordType" property="recordtype" jdbcType="SMALLINT" />
    <result column="Operator" property="operator" jdbcType="NVARCHAR" />
    <result column="OperateTime" property="operatetime" jdbcType="TIMESTAMP" />
    <result column="WithwardId" property="withwardid" jdbcType="BIGINT" />
    <result column="RelationNo" property="relationno" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BusinessId, Amount, Status, Balance, RecordType, Operator, OperateTime, WithwardId, 
    RelationNo, Remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BusinessBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BusinessBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.BusinessBalanceRecord">
		insert into
		BusinessBalanceRecord
		(BusinessId,Amount,Status,Balance,RecordType,Operator,WithwardId,RelationNo,Remark)
		select #{businessid,jdbcType=INTEGER},
		#{amount,jdbcType=DECIMAL},#{status,jdbcType=SMALLINT},b.BalancePrice,#{recordtype,jdbcType=SMALLINT},#{operator,jdbcType=NVARCHAR}
		,#{withwardid,jdbcType=BIGINT},#{relationno,jdbcType=VARCHAR},#{remark,jdbcType=NVARCHAR}
		from dbo.business as b where Id=#{businessid,jdbcType=INTEGER} ;
		select @@IDENTITY
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.BusinessBalanceRecord" >
    insert into BusinessBalanceRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="businessid != null" >
        BusinessId,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
      <if test="recordtype != null" >
        RecordType,
      </if>
      <if test="operator != null" >
        Operator,
      </if>
      <if test="operatetime != null" >
        OperateTime,
      </if>
      <if test="withwardid != null" >
        WithwardId,
      </if>
      <if test="relationno != null" >
        RelationNo,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null" >
        #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null" >
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null" >
        #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null" >
        #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.BusinessBalanceRecord" >
    update BusinessBalanceRecord
    <set >
      <if test="businessid != null" >
        BusinessId = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null" >
        RecordType = #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        Operator = #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null" >
        OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null" >
        WithwardId = #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null" >
        RelationNo = #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.BusinessBalanceRecord" >
    update BusinessBalanceRecord
    set BusinessId = #{businessid,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=DECIMAL},
      Status = #{status,jdbcType=SMALLINT},
      Balance = #{balance,jdbcType=DECIMAL},
      RecordType = #{recordtype,jdbcType=SMALLINT},
      Operator = #{operator,jdbcType=NVARCHAR},
      OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      WithwardId = #{withwardid,jdbcType=BIGINT},
      RelationNo = #{relationno,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 获取交易明细的Where条件 -->
  <sql id="getTransDetailListWhere">
    	1=1  
	 <if test="startDate != null and startDate != ''">
	      AND bbr.OperateTime >=''${startDate}''
     </if>
     <if test="endDate != null and endDate != ''">
	      AND ''${endDate}'' > bbr.OperateTime 
     </if>
     <if test="recordType != null and recordType != '' and recordType != -1">
	      AND bbr.RecordType =${recordType}
     </if>
     <if test="businessID !=null and businessID">
	       AND bbr.BusinessId=${businessID}
     </if>
  </sql>
   <!-- 获取收支明细的分页存储过程 -->
  <select id="getTransDetailList" resultType="com.edaisong.entity.BusinessBalanceRecord" 
  parameterType="com.edaisong.entity.req.PagedTransDetailReq" statementType="CALLABLE">  
{call Sp_CustomPage2015_V1(
' bbr.OperateTime DESC ',
' bbr.RecordType,ISNULL(bbr.RelationNo,'''') AS RelationNo,isnull(bbr.WithwardId,0) as WithwardId,bbr.Amount,bbr.Balance,bbr.Status,OperateTime ',
' BusinessBalanceRecord AS bbr (nolock) ',
' <include refid="getTransDetailListWhere"/> ',
#{pageSize,mode=IN,jdbcType=INTEGER},
#{currentPage,mode=IN,jdbcType=INTEGER},
1,
#{totalRecord,mode=OUT,jdbcType=VARCHAR},
#{totalPage,mode=OUT,jdbcType=VARCHAR}
)} 
  </select>
   <!-- 商家中心交易明细列表，右上角自定义查询，zhaohailong 20150821 -->
  <sql id="customerGetTransDetailListWhere">
    	1=1  
    	<if test="search != null and search!='' and businessID>0">
	    and bbr.BusinessId=${businessID}  and  (bbr.RelationNo=''${search}''
	      	    or convert(varchar(20),bbr.WithwardId)=''${search}'')
     </if>
  </sql>
   <!-- 商家中心交易明细列表，右上角自定义查询，zhaohailong 20150821 -->
  <select id="customerGetTransDetailList" resultType="com.edaisong.entity.BusinessBalanceRecord" 
  parameterType="com.edaisong.entity.req.PagedCustomerSearchReq" statementType="CALLABLE">  
{call Sp_CustomPage2015_V1(
' bbr.OperateTime DESC ',
' bbr.RecordType,ISNULL(bbr.RelationNo,'''') AS RelationNo,isnull(bbr.WithwardId,0) as WithwardId,bbr.Amount,bbr.Balance,bbr.Status,OperateTime ',
' BusinessBalanceRecord AS bbr (nolock) ',
' <include refid="customerGetTransDetailListWhere"/> ',
#{pageSize,mode=IN,jdbcType=INTEGER},
#{currentPage,mode=IN,jdbcType=INTEGER},
1,
#{totalRecord,mode=OUT,jdbcType=VARCHAR},
#{totalPage,mode=OUT,jdbcType=VARCHAR}
)} 
  </select>
</mapper>