<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IBusinessClienterRelationDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.BusinessClienterRelation" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="BusinessId" property="businessid" jdbcType="INTEGER" />
    <result column="ClienterId" property="clienterid" jdbcType="INTEGER" />
    <result column="IsEnable" property="isenable" jdbcType="SMALLINT" />
    <result column="CreateBy" property="createby" jdbcType="NVARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="NVARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="IsBind" property="isbind" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BusinessId, ClienterId, IsEnable, CreateBy, CreateTime, UpdateBy, UpdateTime, 
    IsBind
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BusinessClienterRelation
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BusinessClienterRelation
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.BusinessClienterRelation" >
    insert into BusinessClienterRelation (Id, BusinessId, ClienterId, 
      IsEnable, CreateBy, CreateTime, 
      UpdateBy, UpdateTime, IsBind
      )
    values (#{id,jdbcType=INTEGER}, #{businessid,jdbcType=INTEGER}, #{clienterid,jdbcType=INTEGER}, 
      #{isenable,jdbcType=SMALLINT}, #{createby,jdbcType=NVARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updateby,jdbcType=NVARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{isbind,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.BusinessClienterRelation" >
    insert into BusinessClienterRelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="businessid != null" >
        BusinessId,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="isenable != null" >
        IsEnable,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="isbind != null" >
        IsBind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="isenable != null" >
        #{isenable,jdbcType=SMALLINT},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isbind != null" >
        #{isbind,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.BusinessClienterRelation" >
    update BusinessClienterRelation
    <set >
      <if test="businessid != null" >
        BusinessId = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="clienterid != null" >
        ClienterId = #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="isenable != null" >
        IsEnable = #{isenable,jdbcType=SMALLINT},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=NVARCHAR},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isbind != null" >
        IsBind = #{isbind,jdbcType=SMALLINT},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.BusinessClienterRelation" >
    update BusinessClienterRelation
    set BusinessId = #{businessid,jdbcType=INTEGER},
      ClienterId = #{clienterid,jdbcType=INTEGER},
      IsEnable = #{isenable,jdbcType=SMALLINT},
      CreateBy = #{createby,jdbcType=NVARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=NVARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      IsBind = #{isbind,jdbcType=SMALLINT}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="SelectByBusinessIdColumn">
	bcr.Id, c.TrueName, c.PhoneNo, 
	( case when c.WorkStatus = 1 then '下班'
	      else '上班'
	 end ) WorkStatus, AccountBalance,
	        AllowWithdrawPrice, 
	( case when c.Status = 0 then '被拒绝'
	       when c.Status = 1 then '已通过'
	       when c.Status = 2 then '未审核'
	       when c.Status = 3 then '审核中'
	       else '未知'
	  end ) Status,
	( select    sum(OrderCount)
	  from      dbo.[order] o ( nolock )
	  where     clienterId = bcr.ClienterId
	            and Status = 1
	) OrderCount
  </sql>
  <select id="selectByBusinessId" parameterType="com.edaisong.entity.req.ClienterBalanceRecordReq"  statementType="CALLABLE" >
  	{call Sp_CustomPage2015_V1(
	' bcr.Id desc ',
	' <include refid="SelectByBusinessIdColumn"/>',
	' dbo.BusinessClienterRelation bcr ( nolock ) ',
	'  bcr.BusinessId = #{businessId} order by bcr.Id desc ',
	#{pageSize,mode=IN,jdbcType=INTEGER},
	#{currentPage,mode=IN,jdbcType=INTEGER}
	,1,
	#{totalRecord,mode=OUT,jdbcType=INTEGER},
	#{totalPage,mode=OUT,jdbcType=INTEGER}
	)}
  </select>
  
  <select id="getBusinessBindClienterQty" resultType="int" parameterType="int">
  	SELECT COUNT(1) FROM BusinessClienterRelation bcr WITH(NOLOCK) 
  	WHERE bcr.IsBind = 1 AND bcr.IsEnable=1 AND BusinessId=#{businessId,jdbcType=INTEGER};
  </select>
  
  <select id="getClienterBindBusinessQty" resultType="int" parameterType="int">
  	SELECT COUNT(1) FROM BusinessClienterRelation bcr WITH(NOLOCK) 
  	WHERE bcr.IsBind = 1 AND bcr.IsEnable=1 AND ClienterId=#{clienterId,jdbcType=INTEGER};
  </select>
  
  <sql id="getBusinessClienterRelationListWhere">
  	bcr.IsEnable=1
  	<if test="businessID != 0" >
  		AND bcr.[BusinessId]=${businessID}
  	</if>
  	<if test="search != null and search!=''">
	    and (c.TrueName=''${search}''
		or c.PhoneNo=''${search}'')
		</if>
  </sql>
  
  <!-- 商户绑定骑士列表 -->
    <select id="getBusinessClienterRelationList" resultType="com.edaisong.entity.domain.BusinessClienterRelationModel" parameterType="com.edaisong.entity.req.PagedCustomerSearchReq"  statementType="CALLABLE" >
  	{call Sp_CustomPage2015_V1(
	' bcr.Id DESC ',
	' c.TrueName ClienterName,c.PhoneNo,bcr.CreateTime,bcr.IsBind,bcr.CreateBy,bcr.UpdateBy,bcr.UpdateTime,bcr.BusinessId,bcr.ClienterId,bcr.IsEnable ',
	' BusinessClienterRelation bcr WITH(NOLOCK) JOIN dbo.clienter c WITH(NOLOCK) ON bcr.ClienterId=c.Id ',
	' <include refid="getBusinessClienterRelationListWhere" /> ',
	#{pageSize,mode=IN,jdbcType=INTEGER},
	#{currentPage,mode=IN,jdbcType=INTEGER}
	,1,
	#{totalRecord,mode=OUT,jdbcType=INTEGER},
	#{totalPage,mode=OUT,jdbcType=INTEGER}
	)}
  </select>
  
  <sql id="modifyClienterBindOutput">
  	OUTPUT
	  Inserted.BusinessId,
	  Inserted.ClienterId,
	  ${optId},
	  '${optName}',
	  getdate(),
	  '${remark}'
	INTO ClienterBindOptionLog
	  ( BusinessId
	   ,ClienterId
	   ,OptId
	   ,OptName
	   ,InsertTime
	   ,Remark)
  </sql>
  
  <!-- 修改骑士绑定  add by pengyi 20150901 -->
  <update id="modifyClienterBind" parameterType="com.edaisong.entity.req.ClienterBindOptionReq">
  	update bcr
	set    bcr.IsBind=#{isBind,jdbcType=INTEGER}
	<include refid="modifyClienterBindOutput"></include>
	from BusinessClienterRelation bcr WITH ( ROWLOCK )
	where bcr.BusinessId=${businessId} AND bcr.ClienterId=${clienterId};
  </update>
  
    <!-- 移除骑士绑定  add by pengyi 20150901 -->
  <update id="removeclienterbind" parameterType="com.edaisong.entity.req.ClienterBindOptionReq">
  	update bcr
	set    bcr.IsEnable=0
	<include refid="modifyClienterBindOutput"></include>
	from BusinessClienterRelation bcr WITH ( ROWLOCK )
	where bcr.BusinessId=${businessId} AND bcr.ClienterId=${clienterId};
  </update>
  
  <select id="checkHaveBind" resultType="int" parameterType="com.edaisong.entity.req.ClienterBindOptionReq">
  	SELECT COUNT(1) FROM BusinessClienterRelation bcr WITH(NOLOCK) 
  	WHERE  bcr.IsEnable=1 AND BusinessId=#{businessId,jdbcType=INTEGER} AND ClienterId=#{clienterId,jdbcType=INTEGER};
  </select>
  
  <insert id="addClienterBind" parameterType="com.edaisong.entity.req.ClienterBindOptionReq">
  	INSERT INTO [BusinessClienterRelation]
           ([BusinessId]
           ,[ClienterId]
           ,[CreateBy]
           ,[UpdateBy])
	<include refid="modifyClienterBindOutput"></include>;
  </insert>
</mapper>