<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IBusinessMessageDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.BusinessMessage" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="BusinessId" property="businessid" jdbcType="INTEGER" />
    <result column="Content" property="content" jdbcType="NVARCHAR" />
    <result column="IsRead" property="isread" jdbcType="SMALLINT" />
    <result column="PubDate" property="pubdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BusinessId, Content, IsRead, PubDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BusinessMessage
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BusinessMessage
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.BusinessMessage" >
    insert into BusinessMessage (Id, BusinessId, Content, 
      IsRead, PubDate)
    values (#{id,jdbcType=BIGINT}, #{businessid,jdbcType=INTEGER}, #{content,jdbcType=NVARCHAR}, 
      #{isread,jdbcType=SMALLINT}, #{pubdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.BusinessMessage" >
    insert into BusinessMessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="businessid != null" >
        BusinessId,
      </if>
      <if test="content != null" >
        Content,
      </if>
      <if test="isread != null" >
        IsRead,
      </if>
      <if test="pubdate != null" >
        PubDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=NVARCHAR},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=SMALLINT},
      </if>
      <if test="pubdate != null" >
        #{pubdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.BusinessMessage" >
    update BusinessMessage
    <set >
      <if test="businessid != null" >
        BusinessId = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=NVARCHAR},
      </if>
      <if test="isread != null" >
        IsRead = #{isread,jdbcType=SMALLINT},
      </if>
      <if test="pubdate != null" >
        PubDate = #{pubdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.BusinessMessage" >
    update BusinessMessage
    set BusinessId = #{businessid,jdbcType=INTEGER},
      Content = #{content,jdbcType=NVARCHAR},
      IsRead = #{isread,jdbcType=SMALLINT},
      PubDate = #{pubdate,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getLatestMessage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     SELECT TOP 1 
	 <include refid="Base_Column_List" />
	 FROM BusinessMessage WHERE 
	 BusinessId= #{businessId,jdbcType=INTEGER}
	 ORDER BY PubDate desc;
  </select>
</mapper>