<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IBusinessDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.Business" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="City" property="city" jdbcType="NVARCHAR" />
    <result column="district" property="district" jdbcType="NVARCHAR" />
    <result column="PhoneNo" property="phoneno" jdbcType="NVARCHAR" />
    <result column="PhoneNo2" property="phoneno2" jdbcType="NVARCHAR" />
    <result column="Password" property="password" jdbcType="NVARCHAR" />
    <result column="CheckPicUrl" property="checkpicurl" jdbcType="NVARCHAR" />
    <result column="IDCard" property="idcard" jdbcType="NVARCHAR" />
    <result column="Address" property="address" jdbcType="NVARCHAR" />
    <result column="Landline" property="landline" jdbcType="NVARCHAR" />
    <result column="Longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="Latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="InsertTime" property="inserttime" jdbcType="TIMESTAMP" />
    <result column="districtId" property="districtid" jdbcType="NVARCHAR" />
    <result column="CityId" property="cityid" jdbcType="NVARCHAR" />
    <result column="GroupId" property="groupid" jdbcType="INTEGER" />
    <result column="OriginalBusiId" property="originalbusiid" jdbcType="INTEGER" />
    <result column="ProvinceCode" property="provincecode" jdbcType="NVARCHAR" />
    <result column="CityCode" property="citycode" jdbcType="NVARCHAR" />
    <result column="AreaCode" property="areacode" jdbcType="NVARCHAR" />
    <result column="Province" property="province" jdbcType="NVARCHAR" />
    <result column="CommissionTypeId" property="commissiontypeid" jdbcType="INTEGER" />
    <result column="DistribSubsidy" property="distribsubsidy" jdbcType="NUMERIC" />
    <result column="BusinessCommission" property="businesscommission" jdbcType="DECIMAL" />
    <result column="CommissionType" property="commissiontype" jdbcType="INTEGER" />
    <result column="CommissionFixValue" property="commissionfixvalue" jdbcType="DECIMAL" />
    <result column="BusinessGroupId" property="businessgroupid" jdbcType="INTEGER" />
    <result column="BalancePrice" property="balanceprice" jdbcType="DECIMAL" />
    <result column="AllowWithdrawPrice" property="allowwithdrawprice" jdbcType="DECIMAL" />
    <result column="HasWithdrawPrice" property="haswithdrawprice" jdbcType="DECIMAL" />
    <result column="MealsSettleMode" property="mealssettlemode" jdbcType="INTEGER" />
    <result column="ContactWay" property="contactway" jdbcType="NVARCHAR" />
    <result column="BusinessLicensePic" property="businesslicensepic" jdbcType="NVARCHAR" />
    <result column="IsBind" property="isbind" jdbcType="SMALLINT" />
    <result column="OneKeyPubOrder" property="onekeypuborder" jdbcType="INTEGER" />
    <result column="IsAllowOverdraft" property="isallowoverdraft" jdbcType="INTEGER" />
    <result column="IsEmployerTask" property="isemployertask" jdbcType="SMALLINT" />
    <result column="RecommendPhone" property="recommendphone" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Name, City, district, PhoneNo, PhoneNo2, Password, CheckPicUrl, IDCard, Address, 
    Landline, Longitude, Latitude, Status, InsertTime, districtId, CityId, GroupId, OriginalBusiId, 
    ProvinceCode, CityCode, AreaCode, Province, CommissionTypeId, DistribSubsidy, BusinessCommission, 
    CommissionType, CommissionFixValue, BusinessGroupId, BalancePrice, AllowWithdrawPrice, 
    HasWithdrawPrice, MealsSettleMode, ContactWay, BusinessLicensePic, IsBind, OneKeyPubOrder, 
    IsAllowOverdraft, IsEmployerTask, RecommendPhone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from business
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from business
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.Business" >
    insert into business (Id, Name, City, 
      district, PhoneNo, PhoneNo2, 
      Password, CheckPicUrl, IDCard, 
      Address, Landline, Longitude, 
      Latitude, Status, InsertTime, 
      districtId, CityId, GroupId, 
      OriginalBusiId, ProvinceCode, CityCode, 
      AreaCode, Province, CommissionTypeId, 
      DistribSubsidy, BusinessCommission, CommissionType, 
      CommissionFixValue, BusinessGroupId, BalancePrice, 
      AllowWithdrawPrice, HasWithdrawPrice, MealsSettleMode, 
      ContactWay, BusinessLicensePic, IsBind, 
      OneKeyPubOrder, IsAllowOverdraft, IsEmployerTask, 
      RecommendPhone)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{city,jdbcType=NVARCHAR}, 
      #{district,jdbcType=NVARCHAR}, #{phoneno,jdbcType=NVARCHAR}, #{phoneno2,jdbcType=NVARCHAR}, 
      #{password,jdbcType=NVARCHAR}, #{checkpicurl,jdbcType=NVARCHAR}, #{idcard,jdbcType=NVARCHAR}, 
      #{address,jdbcType=NVARCHAR}, #{landline,jdbcType=NVARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{status,jdbcType=TINYINT}, #{inserttime,jdbcType=TIMESTAMP}, 
      #{districtid,jdbcType=NVARCHAR}, #{cityid,jdbcType=NVARCHAR}, #{groupid,jdbcType=INTEGER}, 
      #{originalbusiid,jdbcType=INTEGER}, #{provincecode,jdbcType=NVARCHAR}, #{citycode,jdbcType=NVARCHAR}, 
      #{areacode,jdbcType=NVARCHAR}, #{province,jdbcType=NVARCHAR}, #{commissiontypeid,jdbcType=INTEGER}, 
      #{distribsubsidy,jdbcType=NUMERIC}, #{businesscommission,jdbcType=DECIMAL}, #{commissiontype,jdbcType=INTEGER}, 
      #{commissionfixvalue,jdbcType=DECIMAL}, #{businessgroupid,jdbcType=INTEGER}, #{balanceprice,jdbcType=DECIMAL}, 
      #{allowwithdrawprice,jdbcType=DECIMAL}, #{haswithdrawprice,jdbcType=DECIMAL}, #{mealssettlemode,jdbcType=INTEGER}, 
      #{contactway,jdbcType=NVARCHAR}, #{businesslicensepic,jdbcType=NVARCHAR}, #{isbind,jdbcType=SMALLINT}, 
      #{onekeypuborder,jdbcType=INTEGER}, #{isallowoverdraft,jdbcType=INTEGER}, #{isemployertask,jdbcType=SMALLINT}, 
      #{recommendphone,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.Business" >
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="phoneno != null" >
        PhoneNo,
      </if>
      <if test="phoneno2 != null" >
        PhoneNo2,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="checkpicurl != null" >
        CheckPicUrl,
      </if>
      <if test="idcard != null" >
        IDCard,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="landline != null" >
        Landline,
      </if>
      <if test="longitude != null" >
        Longitude,
      </if>
      <if test="latitude != null" >
        Latitude,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="inserttime != null" >
        InsertTime,
      </if>
      <if test="districtid != null" >
        districtId,
      </if>
      <if test="cityid != null" >
        CityId,
      </if>
      <if test="groupid != null" >
        GroupId,
      </if>
      <if test="originalbusiid != null" >
        OriginalBusiId,
      </if>
      <if test="provincecode != null" >
        ProvinceCode,
      </if>
      <if test="citycode != null" >
        CityCode,
      </if>
      <if test="areacode != null" >
        AreaCode,
      </if>
      <if test="province != null" >
        Province,
      </if>
      <if test="commissiontypeid != null" >
        CommissionTypeId,
      </if>
      <if test="distribsubsidy != null" >
        DistribSubsidy,
      </if>
      <if test="businesscommission != null" >
        BusinessCommission,
      </if>
      <if test="commissiontype != null" >
        CommissionType,
      </if>
      <if test="commissionfixvalue != null" >
        CommissionFixValue,
      </if>
      <if test="businessgroupid != null" >
        BusinessGroupId,
      </if>
      <if test="balanceprice != null" >
        BalancePrice,
      </if>
      <if test="allowwithdrawprice != null" >
        AllowWithdrawPrice,
      </if>
      <if test="haswithdrawprice != null" >
        HasWithdrawPrice,
      </if>
      <if test="mealssettlemode != null" >
        MealsSettleMode,
      </if>
      <if test="contactway != null" >
        ContactWay,
      </if>
      <if test="businesslicensepic != null" >
        BusinessLicensePic,
      </if>
      <if test="isbind != null" >
        IsBind,
      </if>
      <if test="onekeypuborder != null" >
        OneKeyPubOrder,
      </if>
      <if test="isallowoverdraft != null" >
        IsAllowOverdraft,
      </if>
      <if test="isemployertask != null" >
        IsEmployerTask,
      </if>
      <if test="recommendphone != null" >
        RecommendPhone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=NVARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno2 != null" >
        #{phoneno2,jdbcType=NVARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=NVARCHAR},
      </if>
      <if test="checkpicurl != null" >
        #{checkpicurl,jdbcType=NVARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=NVARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=NVARCHAR},
      </if>
      <if test="landline != null" >
        #{landline,jdbcType=NVARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="districtid != null" >
        #{districtid,jdbcType=NVARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=NVARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="originalbusiid != null" >
        #{originalbusiid,jdbcType=INTEGER},
      </if>
      <if test="provincecode != null" >
        #{provincecode,jdbcType=NVARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=NVARCHAR},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=NVARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=NVARCHAR},
      </if>
      <if test="commissiontypeid != null" >
        #{commissiontypeid,jdbcType=INTEGER},
      </if>
      <if test="distribsubsidy != null" >
        #{distribsubsidy,jdbcType=NUMERIC},
      </if>
      <if test="businesscommission != null" >
        #{businesscommission,jdbcType=DECIMAL},
      </if>
      <if test="commissiontype != null" >
        #{commissiontype,jdbcType=INTEGER},
      </if>
      <if test="commissionfixvalue != null" >
        #{commissionfixvalue,jdbcType=DECIMAL},
      </if>
      <if test="businessgroupid != null" >
        #{businessgroupid,jdbcType=INTEGER},
      </if>
      <if test="balanceprice != null" >
        #{balanceprice,jdbcType=DECIMAL},
      </if>
      <if test="allowwithdrawprice != null" >
        #{allowwithdrawprice,jdbcType=DECIMAL},
      </if>
      <if test="haswithdrawprice != null" >
        #{haswithdrawprice,jdbcType=DECIMAL},
      </if>
      <if test="mealssettlemode != null" >
        #{mealssettlemode,jdbcType=INTEGER},
      </if>
      <if test="contactway != null" >
        #{contactway,jdbcType=NVARCHAR},
      </if>
      <if test="businesslicensepic != null" >
        #{businesslicensepic,jdbcType=NVARCHAR},
      </if>
      <if test="isbind != null" >
        #{isbind,jdbcType=SMALLINT},
      </if>
      <if test="onekeypuborder != null" >
        #{onekeypuborder,jdbcType=INTEGER},
      </if>
      <if test="isallowoverdraft != null" >
        #{isallowoverdraft,jdbcType=INTEGER},
      </if>
      <if test="isemployertask != null" >
        #{isemployertask,jdbcType=SMALLINT},
      </if>
      <if test="recommendphone != null" >
        #{recommendphone,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.Business" >
    update business
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="city != null" >
        City = #{city,jdbcType=NVARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno != null" >
        PhoneNo = #{phoneno,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno2 != null" >
        PhoneNo2 = #{phoneno2,jdbcType=NVARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=NVARCHAR},
      </if>
      <if test="checkpicurl != null" >
        CheckPicUrl = #{checkpicurl,jdbcType=NVARCHAR},
      </if>
      <if test="idcard != null" >
        IDCard = #{idcard,jdbcType=NVARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=NVARCHAR},
      </if>
      <if test="landline != null" >
        Landline = #{landline,jdbcType=NVARCHAR},
      </if>
      <if test="longitude != null" >
        Longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        Latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="inserttime != null" >
        InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="districtid != null" >
        districtId = #{districtid,jdbcType=NVARCHAR},
      </if>
      <if test="cityid != null" >
        CityId = #{cityid,jdbcType=NVARCHAR},
      </if>
      <if test="groupid != null" >
        GroupId = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="originalbusiid != null" >
        OriginalBusiId = #{originalbusiid,jdbcType=INTEGER},
      </if>
      <if test="provincecode != null" >
        ProvinceCode = #{provincecode,jdbcType=NVARCHAR},
      </if>
      <if test="citycode != null" >
        CityCode = #{citycode,jdbcType=NVARCHAR},
      </if>
      <if test="areacode != null" >
        AreaCode = #{areacode,jdbcType=NVARCHAR},
      </if>
      <if test="province != null" >
        Province = #{province,jdbcType=NVARCHAR},
      </if>
      <if test="commissiontypeid != null" >
        CommissionTypeId = #{commissiontypeid,jdbcType=INTEGER},
      </if>
      <if test="distribsubsidy != null" >
        DistribSubsidy = #{distribsubsidy,jdbcType=NUMERIC},
      </if>
      <if test="businesscommission != null" >
        BusinessCommission = #{businesscommission,jdbcType=DECIMAL},
      </if>
      <if test="commissiontype != null" >
        CommissionType = #{commissiontype,jdbcType=INTEGER},
      </if>
      <if test="commissionfixvalue != null" >
        CommissionFixValue = #{commissionfixvalue,jdbcType=DECIMAL},
      </if>
      <if test="businessgroupid != null" >
        BusinessGroupId = #{businessgroupid,jdbcType=INTEGER},
      </if>
      <if test="balanceprice != null" >
        BalancePrice = #{balanceprice,jdbcType=DECIMAL},
      </if>
      <if test="allowwithdrawprice != null" >
        AllowWithdrawPrice = #{allowwithdrawprice,jdbcType=DECIMAL},
      </if>
      <if test="haswithdrawprice != null" >
        HasWithdrawPrice = #{haswithdrawprice,jdbcType=DECIMAL},
      </if>
      <if test="mealssettlemode != null" >
        MealsSettleMode = #{mealssettlemode,jdbcType=INTEGER},
      </if>
      <if test="contactway != null" >
        ContactWay = #{contactway,jdbcType=NVARCHAR},
      </if>
      <if test="businesslicensepic != null" >
        BusinessLicensePic = #{businesslicensepic,jdbcType=NVARCHAR},
      </if>
      <if test="isbind != null" >
        IsBind = #{isbind,jdbcType=SMALLINT},
      </if>
      <if test="onekeypuborder != null" >
        OneKeyPubOrder = #{onekeypuborder,jdbcType=INTEGER},
      </if>
      <if test="isallowoverdraft != null" >
        IsAllowOverdraft = #{isallowoverdraft,jdbcType=INTEGER},
      </if>
      <if test="isemployertask != null" >
        IsEmployerTask = #{isemployertask,jdbcType=SMALLINT},
      </if>
      <if test="recommendphone != null" >
        RecommendPhone = #{recommendphone,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.Business" >
    update business
    set Name = #{name,jdbcType=NVARCHAR},
      City = #{city,jdbcType=NVARCHAR},
      district = #{district,jdbcType=NVARCHAR},
      PhoneNo = #{phoneno,jdbcType=NVARCHAR},
      PhoneNo2 = #{phoneno2,jdbcType=NVARCHAR},
      Password = #{password,jdbcType=NVARCHAR},
      CheckPicUrl = #{checkpicurl,jdbcType=NVARCHAR},
      IDCard = #{idcard,jdbcType=NVARCHAR},
      Address = #{address,jdbcType=NVARCHAR},
      Landline = #{landline,jdbcType=NVARCHAR},
      Longitude = #{longitude,jdbcType=DOUBLE},
      Latitude = #{latitude,jdbcType=DOUBLE},
      Status = #{status,jdbcType=TINYINT},
      InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      districtId = #{districtid,jdbcType=NVARCHAR},
      CityId = #{cityid,jdbcType=NVARCHAR},
      GroupId = #{groupid,jdbcType=INTEGER},
      OriginalBusiId = #{originalbusiid,jdbcType=INTEGER},
      ProvinceCode = #{provincecode,jdbcType=NVARCHAR},
      CityCode = #{citycode,jdbcType=NVARCHAR},
      AreaCode = #{areacode,jdbcType=NVARCHAR},
      Province = #{province,jdbcType=NVARCHAR},
      CommissionTypeId = #{commissiontypeid,jdbcType=INTEGER},
      DistribSubsidy = #{distribsubsidy,jdbcType=NUMERIC},
      BusinessCommission = #{businesscommission,jdbcType=DECIMAL},
      CommissionType = #{commissiontype,jdbcType=INTEGER},
      CommissionFixValue = #{commissionfixvalue,jdbcType=DECIMAL},
      BusinessGroupId = #{businessgroupid,jdbcType=INTEGER},
      BalancePrice = #{balanceprice,jdbcType=DECIMAL},
      AllowWithdrawPrice = #{allowwithdrawprice,jdbcType=DECIMAL},
      HasWithdrawPrice = #{haswithdrawprice,jdbcType=DECIMAL},
      MealsSettleMode = #{mealssettlemode,jdbcType=INTEGER},
      ContactWay = #{contactway,jdbcType=NVARCHAR},
      BusinessLicensePic = #{businesslicensepic,jdbcType=NVARCHAR},
      IsBind = #{isbind,jdbcType=SMALLINT},
      OneKeyPubOrder = #{onekeypuborder,jdbcType=INTEGER},
      IsAllowOverdraft = #{isallowoverdraft,jdbcType=INTEGER},
      IsEmployerTask = #{isemployertask,jdbcType=SMALLINT},
      RecommendPhone = #{recommendphone,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>