<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IClienterWithdrawFormDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.ClienterWithdrawForm" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="WithwardNo" property="withwardno" jdbcType="VARCHAR" />
    <result column="ClienterId" property="clienterid" jdbcType="INTEGER" />
    <result column="BalancePrice" property="balanceprice" jdbcType="DECIMAL" />
    <result column="AllowWithdrawPrice" property="allowwithdrawprice" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="SMALLINT" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
    <result column="WithdrawTime" property="withdrawtime" jdbcType="TIMESTAMP" />
    <result column="Auditor" property="auditor" jdbcType="NVARCHAR" />
    <result column="AuditTime" property="audittime" jdbcType="TIMESTAMP" />
    <result column="AuditFailedReason" property="auditfailedreason" jdbcType="NVARCHAR" />
    <result column="Payer" property="payer" jdbcType="NVARCHAR" />
    <result column="PayTime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="PayFailedReason" property="payfailedreason" jdbcType="NVARCHAR" />
    <result column="TrueName" property="truename" jdbcType="NVARCHAR" />
    <result column="AccountNo" property="accountno" jdbcType="VARCHAR" />
    <result column="AccountType" property="accounttype" jdbcType="SMALLINT" />
    <result column="BelongType" property="belongtype" jdbcType="SMALLINT" />
    <result column="OpenBank" property="openbank" jdbcType="NVARCHAR" />
    <result column="OpenSubBank" property="opensubbank" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, WithwardNo, ClienterId, BalancePrice, AllowWithdrawPrice, Status, Amount, Balance, 
    WithdrawTime, Auditor, AuditTime, AuditFailedReason, Payer, PayTime, PayFailedReason, 
    TrueName, AccountNo, AccountType, BelongType, OpenBank, OpenSubBank
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterWithdrawForm
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ClienterWithdrawForm
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.ClienterWithdrawForm" >
    insert into ClienterWithdrawForm (Id, WithwardNo, ClienterId, 
      BalancePrice, AllowWithdrawPrice, Status, 
      Amount, Balance, WithdrawTime, 
      Auditor, AuditTime, AuditFailedReason, 
      Payer, PayTime, PayFailedReason, 
      TrueName, AccountNo, AccountType, 
      BelongType, OpenBank, OpenSubBank
      )
    values (#{id,jdbcType=BIGINT}, #{withwardno,jdbcType=VARCHAR}, #{clienterid,jdbcType=INTEGER}, 
      #{balanceprice,jdbcType=DECIMAL}, #{allowwithdrawprice,jdbcType=DECIMAL}, #{status,jdbcType=SMALLINT}, 
      #{amount,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, #{withdrawtime,jdbcType=TIMESTAMP}, 
      #{auditor,jdbcType=NVARCHAR}, #{audittime,jdbcType=TIMESTAMP}, #{auditfailedreason,jdbcType=NVARCHAR}, 
      #{payer,jdbcType=NVARCHAR}, #{paytime,jdbcType=TIMESTAMP}, #{payfailedreason,jdbcType=NVARCHAR}, 
      #{truename,jdbcType=NVARCHAR}, #{accountno,jdbcType=VARCHAR}, #{accounttype,jdbcType=SMALLINT}, 
      #{belongtype,jdbcType=SMALLINT}, #{openbank,jdbcType=NVARCHAR}, #{opensubbank,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.ClienterWithdrawForm" >
    insert into ClienterWithdrawForm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="withwardno != null" >
        WithwardNo,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="balanceprice != null" >
        BalancePrice,
      </if>
      <if test="allowwithdrawprice != null" >
        AllowWithdrawPrice,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
      <if test="withdrawtime != null" >
        WithdrawTime,
      </if>
      <if test="auditor != null" >
        Auditor,
      </if>
      <if test="audittime != null" >
        AuditTime,
      </if>
      <if test="auditfailedreason != null" >
        AuditFailedReason,
      </if>
      <if test="payer != null" >
        Payer,
      </if>
      <if test="paytime != null" >
        PayTime,
      </if>
      <if test="payfailedreason != null" >
        PayFailedReason,
      </if>
      <if test="truename != null" >
        TrueName,
      </if>
      <if test="accountno != null" >
        AccountNo,
      </if>
      <if test="accounttype != null" >
        AccountType,
      </if>
      <if test="belongtype != null" >
        BelongType,
      </if>
      <if test="openbank != null" >
        OpenBank,
      </if>
      <if test="opensubbank != null" >
        OpenSubBank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="withwardno != null" >
        #{withwardno,jdbcType=VARCHAR},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="balanceprice != null" >
        #{balanceprice,jdbcType=DECIMAL},
      </if>
      <if test="allowwithdrawprice != null" >
        #{allowwithdrawprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="withdrawtime != null" >
        #{withdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=NVARCHAR},
      </if>
      <if test="audittime != null" >
        #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditfailedreason != null" >
        #{auditfailedreason,jdbcType=NVARCHAR},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=NVARCHAR},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="payfailedreason != null" >
        #{payfailedreason,jdbcType=NVARCHAR},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=NVARCHAR},
      </if>
      <if test="accountno != null" >
        #{accountno,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        #{accounttype,jdbcType=SMALLINT},
      </if>
      <if test="belongtype != null" >
        #{belongtype,jdbcType=SMALLINT},
      </if>
      <if test="openbank != null" >
        #{openbank,jdbcType=NVARCHAR},
      </if>
      <if test="opensubbank != null" >
        #{opensubbank,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.ClienterWithdrawForm" >
    update ClienterWithdrawForm
    <set >
      <if test="withwardno != null" >
        WithwardNo = #{withwardno,jdbcType=VARCHAR},
      </if>
      <if test="clienterid != null" >
        ClienterId = #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="balanceprice != null" >
        BalancePrice = #{balanceprice,jdbcType=DECIMAL},
      </if>
      <if test="allowwithdrawprice != null" >
        AllowWithdrawPrice = #{allowwithdrawprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="withdrawtime != null" >
        WithdrawTime = #{withdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        Auditor = #{auditor,jdbcType=NVARCHAR},
      </if>
      <if test="audittime != null" >
        AuditTime = #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditfailedreason != null" >
        AuditFailedReason = #{auditfailedreason,jdbcType=NVARCHAR},
      </if>
      <if test="payer != null" >
        Payer = #{payer,jdbcType=NVARCHAR},
      </if>
      <if test="paytime != null" >
        PayTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="payfailedreason != null" >
        PayFailedReason = #{payfailedreason,jdbcType=NVARCHAR},
      </if>
      <if test="truename != null" >
        TrueName = #{truename,jdbcType=NVARCHAR},
      </if>
      <if test="accountno != null" >
        AccountNo = #{accountno,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        AccountType = #{accounttype,jdbcType=SMALLINT},
      </if>
      <if test="belongtype != null" >
        BelongType = #{belongtype,jdbcType=SMALLINT},
      </if>
      <if test="openbank != null" >
        OpenBank = #{openbank,jdbcType=NVARCHAR},
      </if>
      <if test="opensubbank != null" >
        OpenSubBank = #{opensubbank,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.ClienterWithdrawForm" >
    update ClienterWithdrawForm
    set WithwardNo = #{withwardno,jdbcType=VARCHAR},
      ClienterId = #{clienterid,jdbcType=INTEGER},
      BalancePrice = #{balanceprice,jdbcType=DECIMAL},
      AllowWithdrawPrice = #{allowwithdrawprice,jdbcType=DECIMAL},
      Status = #{status,jdbcType=SMALLINT},
      Amount = #{amount,jdbcType=DECIMAL},
      Balance = #{balance,jdbcType=DECIMAL},
      WithdrawTime = #{withdrawtime,jdbcType=TIMESTAMP},
      Auditor = #{auditor,jdbcType=NVARCHAR},
      AuditTime = #{audittime,jdbcType=TIMESTAMP},
      AuditFailedReason = #{auditfailedreason,jdbcType=NVARCHAR},
      Payer = #{payer,jdbcType=NVARCHAR},
      PayTime = #{paytime,jdbcType=TIMESTAMP},
      PayFailedReason = #{payfailedreason,jdbcType=NVARCHAR},
      TrueName = #{truename,jdbcType=NVARCHAR},
      AccountNo = #{accountno,jdbcType=VARCHAR},
      AccountType = #{accounttype,jdbcType=SMALLINT},
      BelongType = #{belongtype,jdbcType=SMALLINT},
      OpenBank = #{openbank,jdbcType=NVARCHAR},
      OpenSubBank = #{opensubbank,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>