<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IClienterLocationDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.ClienterLocation" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="Longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="Latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="ClienterId" property="clienterid" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Longitude, Latitude, ClienterId, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterLocation
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ClienterLocation
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.ClienterLocation" >
    insert into ClienterLocation (ID, Longitude, Latitude, 
      ClienterId, CreateTime)
    values (#{id,jdbcType=BIGINT}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{clienterid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.ClienterLocation" >
    insert into ClienterLocation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="longitude != null" >
        Longitude,
      </if>
      <if test="latitude != null" >
        Latitude,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.ClienterLocation" >
    update ClienterLocation
    <set >
      <if test="longitude != null" >
        Longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        Latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="clienterid != null" >
        ClienterId = #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.ClienterLocation" >
    update ClienterLocation
    set Longitude = #{longitude,jdbcType=DOUBLE},
      Latitude = #{latitude,jdbcType=DOUBLE},
      ClienterId = #{clienterid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <!--  获得实时坐标 add by caoheyang  20150901 -->
  <select id="com.edaisong.api.dao.inter.IClienterLocationDao.getLocationsByTime"  parameterType="java.util.Map"
  resultType="com.edaisong.entity.common.Location">
  select Longitude,Latitude from ClienterLocation (Nolock) where clienterId=#{clienterId,jdbcType=INTEGER}
   and CreateTime>='${start} '   <![CDATA[ and CreateTime  <=]]> '${end}'
  </select>
</mapper>