<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IClienterBalanceRecordDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.ClienterBalanceRecord" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ClienterId" property="clienterid" jdbcType="INTEGER" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="Status" property="status" jdbcType="SMALLINT" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
    <result column="RecordType" property="recordtype" jdbcType="SMALLINT" />
    <result column="Operator" property="operator" jdbcType="NVARCHAR" />
    <result column="OperateTime" property="operatetime" jdbcType="TIMESTAMP" />
    <result column="WithwardId" property="withwardid" jdbcType="BIGINT" />
    <result column="RelationNo" property="relationno" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterId, Amount, Status, Balance, RecordType, Operator, OperateTime, WithwardId, 
    RelationNo, Remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ClienterBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </select>
   <select id="getRecordListByCId" resultMap="BaseResultMap" parameterType="java.util.Map" >   
    select 
    <include refid="Base_Column_List" />
    from ClienterBalanceRecord
    where ClienterId =#{clienterid,jdbcType=INTEGER}
  </select>
  
  <select id="query" resultType="com.edaisong.entity.ClienterBalanceRecord" parameterType="java.util.Map" statementType="CALLABLE">
<![CDATA[  
{call Sp_CustomPage2015_V1(
' id desc ',
' id,clienterid,amount,status,balance,recordtype,
 operator,operatetime, withwardid, relationno, remark ',
' dbo.ClienterBalanceRecord ',
#{Where,mode=IN,jdbcType=VARCHAR},
#{PageSize,mode=IN,jdbcType=INTEGER},
#{CurrentPage,mode=IN,jdbcType=INTEGER},
1,
#{TotalRecord,mode=OUT,jdbcType=VARCHAR},
#{TotalPage,mode=OUT,jdbcType=VARCHAR}
)}
	]]>  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ClienterBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.edaisong.entity.ClienterBalanceRecord" >
    insert into
		ClienterBalanceRecord
		(ClienterId,Amount,Status,Balance,RecordType,Operator,WithwardId,RelationNo,Remark)
		select #{clienterId,jdbcType=INTEGER},
		#{amount,jdbcType=DECIMAL},#{status,jdbcType=SMALLINT},c.AccountBalance,#{recordtype,jdbcType=SMALLINT},#{operator,jdbcType=NVARCHAR}
		,#{withwardid,jdbcType=BIGINT},#{relationno,jdbcType=VARCHAR},#{remark,jdbcType=NVARCHAR}
		from dbo.clienter  as c where Id=#{clienterId,jdbcType=INTEGER} ;
		select @@IDENTITY
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.ClienterBalanceRecord" >
    insert into ClienterBalanceRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
      <if test="recordtype != null" >
        RecordType,
      </if>
      <if test="operator != null" >
        Operator,
      </if>
      <if test="operatetime != null" >
        OperateTime,
      </if>
      <if test="withwardid != null" >
        WithwardId,
      </if>
      <if test="relationno != null" >
        RelationNo,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null" >
        #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null" >
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null" >
        #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null" >
        #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    <set >
      <if test="clienterid != null" >
        ClienterId = #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null" >
        RecordType = #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null" >
        Operator = #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null" >
        OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null" >
        WithwardId = #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null" >
        RelationNo = #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.ClienterBalanceRecord" >
    update ClienterBalanceRecord
    set ClienterId = #{clienterid,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=DECIMAL},
      Status = #{status,jdbcType=SMALLINT},
      Balance = #{balance,jdbcType=DECIMAL},
      RecordType = #{recordtype,jdbcType=SMALLINT},
      Operator = #{operator,jdbcType=NVARCHAR},
      OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      WithwardId = #{withwardid,jdbcType=BIGINT},
      RelationNo = #{relationno,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 根据订单获取对象 add by caoheyang  20150831 -->
     <select id="getByOrderId" resultType="com.edaisong.entity.ClienterBalanceRecord" parameterType="java.util.Map" >   
  select top 1  Id,ClienterId,Amount,Status,Balance,RecordType,Operator,OperateTime,RelationNo,Remark
from  ClienterBalanceRecord (nolock)
where  WithwardId= #{id,jdbcType=BIGINT} and Remark='无效订单'
  </select>
</mapper>