<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.ICrossShopLogDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.CrossShopLog" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="ClienterId" property="clienterid" jdbcType="INTEGER" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="BusinessCount" property="businesscount" jdbcType="INTEGER" />
    <result column="Platform" property="platform" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
    <result column="InsertTime" property="inserttime" jdbcType="TIMESTAMP" />
    <result column="RewardTime" property="rewardtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ClienterId, Amount, BusinessCount, Platform, Remark, InsertTime, RewardTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CrossShopLog
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CrossShopLog
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.CrossShopLog" >
    insert into CrossShopLog (Id, ClienterId, Amount, 
      BusinessCount, Platform, Remark, 
      InsertTime, RewardTime)
    values (#{id,jdbcType=INTEGER}, #{clienterid,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{businesscount,jdbcType=INTEGER}, #{platform,jdbcType=INTEGER}, #{remark,jdbcType=NVARCHAR}, 
      #{inserttime,jdbcType=TIMESTAMP}, #{rewardtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.CrossShopLog" >
    insert into CrossShopLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="clienterid != null" >
        ClienterId,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="businesscount != null" >
        BusinessCount,
      </if>
      <if test="platform != null" >
        Platform,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="inserttime != null" >
        InsertTime,
      </if>
      <if test="rewardtime != null" >
        RewardTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clienterid != null" >
        #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="businesscount != null" >
        #{businesscount,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardtime != null" >
        #{rewardtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.CrossShopLog" >
    update CrossShopLog
    <set >
      <if test="clienterid != null" >
        ClienterId = #{clienterid,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="businesscount != null" >
        BusinessCount = #{businesscount,jdbcType=INTEGER},
      </if>
      <if test="platform != null" >
        Platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="inserttime != null" >
        InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardtime != null" >
        RewardTime = #{rewardtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.CrossShopLog" >
    update CrossShopLog
    set ClienterId = #{clienterid,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=DECIMAL},
      BusinessCount = #{businesscount,jdbcType=INTEGER},
      Platform = #{platform,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=NVARCHAR},
      InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      RewardTime = #{rewardtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>