<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IGroupBusinessDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.GroupBusiness" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="GroupBusiName" property="groupbusiname" jdbcType="NVARCHAR" />
    <result column="LoginName" property="loginname" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="NVARCHAR" />
    <result column="CreateName" property="createname" jdbcType="NVARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="ModifyName" property="modifyname" jdbcType="NVARCHAR" />
    <result column="ModifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="IsValid" property="isvalid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, GroupBusiName, LoginName, Password, CreateName, CreateTime, ModifyName, ModifyTime, 
    Amount, IsValid
  </sql>
  <sql id="GetGroupBusinessTable" >
     dbo.groupbusiness(nolock) 
  </sql>
  <sql id="GetGroupBusinessWhere" >
     1=1
		<if test="groupBusinessName != null and groupBusinessName !=''">
			and GroupBusiName like ''%${groupBusinessName}%''
		</if> 
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from GroupBusiness
    where Id = #{id,jdbcType=INTEGER}
  </select>
   
  <insert id="insert" parameterType="com.edaisong.entity.GroupBusiness" >
    insert into GroupBusiness ( GroupBusiName, LoginName, 
      Password, CreateName) output Inserted.Id,Inserted.CreateName,Inserted.CreateTime,'添加集团商户' into dbo.GroupBusinessLog(GroupBusinessId,OptName,OptTime,Remark) 
    values (#{groupbusiname,jdbcType=NVARCHAR}, #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=NVARCHAR}, #{createname,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.GroupBusiness" >
    insert into GroupBusiness
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="groupbusiname != null" >
        GroupBusiName,
      </if>
      <if test="phoneno != null" >
        PhoneNo,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="createname != null" >
        CreateName,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="modifyname != null" >
        ModifyName,
      </if>
      <if test="modifytime != null" >
        ModifyTime,
      </if>
      <if test="amount != null" >
        Amount,
      </if>
      <if test="isvalid != null" >
        IsValid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupbusiname != null" >
        #{groupbusiname,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=NVARCHAR},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=NCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyname != null" >
        #{modifyname,jdbcType=NCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.GroupBusiness" >
    update GroupBusiness
    <set >
      <if test="groupbusiname != null" >
        GroupBusiName = #{groupbusiname,jdbcType=NVARCHAR},
      </if>
      <if test="phoneno != null" >
        PhoneNo = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=NVARCHAR},
      </if>
      <if test="createname != null" >
        CreateName = #{createname,jdbcType=NCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyname != null" >
        ModifyName = #{modifyname,jdbcType=NCHAR},
      </if>
      <if test="modifytime != null" >
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isvalid != null" >
        IsValid = #{isvalid,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getByPhoneNoAndPwd" resultType="com.edaisong.entity.GroupBusiness"
		parameterType="java.util.Map">
		select 
		 <include refid="Base_Column_List" />
    from GroupBusiness  b WITH ( NOLOCK )
		WHERE b.loginname = #{phoneNo,jdbcType=NVARCHAR}
		AND Password = #{password,jdbcType=NVARCHAR} 
	</select>
	<update id="updateByPrimaryKey" parameterType="com.edaisong.entity.GroupBusiness" >
    update GroupBusiness
    set GroupBusiName = #{groupbusiname,jdbcType=NVARCHAR},
      LoginName = #{loginname,jdbcType=VARCHAR},
      <if test="password != ''">
        Password = #{password,jdbcType=NVARCHAR},
      </if>  
      ModifyName = #{modifyname,jdbcType=NVARCHAR},
      ModifyTime = getdate() 
      output  Inserted.Id ,
        Inserted.CreateName ,
        Inserted.CreateTime ,
        '修改集团名称' + Deleted.GroupBusiName + '为' + Inserted.GroupBusiName + ',登陆名' + Deleted.LoginName + '修改为' + Inserted.LoginName + ',修改密码'
        into dbo.GroupBusinessLog ( GroupBusinessId, OptName, OptTime, Remark )
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--后台集团商户管理页面 WangChao -->
	<select id="getPageList" resultType="com.edaisong.entity.domain.GroupBusinessModel"
		parameterType="com.edaisong.entity.req.PagedGroupBusinessReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' Id desc ',
		'
		<include refid="Base_Column_List" />
		',
		'
		<include refid="GetGroupBusinessTable" />
		',
		'
		<include refid="GetGroupBusinessWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
  <!--查询单条商户管理 -->
	<select id="getSingle" resultType="com.edaisong.entity.domain.GroupBusinessModel"
		parameterType="com.edaisong.entity.req.GroupBusinessReq"
		statementType="CALLABLE">
		select
		<include refid="Base_Column_List" />
		from GroupBusiness (nolock) where 1=1 
	  <if test="id != null" >
        and id= #{id,jdbcType=INTEGER} 
      </if>
      <if test="groupBusinessName != null" >
        and GroupBusiName=#{groupBusinessName,jdbcType=NVARCHAR}
      </if>
      <if test="loginName != null" >
        and loginName=#{loginName,jdbcType=VARCHAR}
      </if>
	</select>
	<update id="recharge"  parameterType="java.util.Map">
		update GroupBusiness set Amount=Amount+#{amount,jdbcType=DECIMAL}
        where id=#{groupID,jdbcType=INTEGER}
	</update>
	<select id="select" parameterType="java.lang.Integer">
		select top 1 * from   GroupBusiness
		where id = #{groupID,jdbcType=INTEGER} 
	</select>
</mapper>