<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IOrderLogDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.OrderLog" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="OrderId" property="orderid" jdbcType="INTEGER" />
    <result column="OrderStatus" property="orderstatus" jdbcType="TINYINT" />
    <result column="OptionDescription" property="optiondescription" jdbcType="NVARCHAR" />
    <result column="OptionPerson" property="optionperson" jdbcType="NVARCHAR" />
    <result column="OptionTIme" property="optiontime" jdbcType="TIMESTAMP" />
    <result column="IsValid" property="isvalid" jdbcType="TINYINT" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, OrderId, OrderStatus, OptionDescription, OptionPerson, OptionTIme, IsValid, Remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orderlog
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderlog
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.OrderLog" >
    insert into orderlog (Id, OrderId, OrderStatus, 
      OptionDescription, OptionPerson, OptionTIme, 
      IsValid, Remark)
    values (#{id,jdbcType=BIGINT}, #{orderid,jdbcType=INTEGER}, #{orderstatus,jdbcType=TINYINT}, 
      #{optiondescription,jdbcType=NVARCHAR}, #{optionperson,jdbcType=NVARCHAR}, #{optiontime,jdbcType=TIMESTAMP}, 
      #{isvalid,jdbcType=TINYINT}, #{remark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.OrderLog" >
    insert into orderlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="orderid != null" >
        OrderId,
      </if>
      <if test="orderstatus != null" >
        OrderStatus,
      </if>
      <if test="optiondescription != null" >
        OptionDescription,
      </if>
      <if test="optionperson != null" >
        OptionPerson,
      </if>
      <if test="optiontime != null" >
        OptionTIme,
      </if>
      <if test="isvalid != null" >
        IsValid,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=TINYINT},
      </if>
      <if test="optiondescription != null" >
        #{optiondescription,jdbcType=NVARCHAR},
      </if>
      <if test="optionperson != null" >
        #{optionperson,jdbcType=NVARCHAR},
      </if>
      <if test="optiontime != null" >
        #{optiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.OrderLog" >
    update orderlog
    <set >
      <if test="orderid != null" >
        OrderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        OrderStatus = #{orderstatus,jdbcType=TINYINT},
      </if>
      <if test="optiondescription != null" >
        OptionDescription = #{optiondescription,jdbcType=NVARCHAR},
      </if>
      <if test="optionperson != null" >
        OptionPerson = #{optionperson,jdbcType=NVARCHAR},
      </if>
      <if test="optiontime != null" >
        OptionTIme = #{optiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null" >
        IsValid = #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.OrderLog" >
    update orderlog
    set OrderId = #{orderid,jdbcType=INTEGER},
      OrderStatus = #{orderstatus,jdbcType=TINYINT},
      OptionDescription = #{optiondescription,jdbcType=NVARCHAR},
      OptionPerson = #{optionperson,jdbcType=NVARCHAR},
      OptionTIme = #{optiontime,jdbcType=TIMESTAMP},
      IsValid = #{isvalid,jdbcType=TINYINT},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>