<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IPublicProvinceCityDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.PublicProvinceCity" >
    <id column="code" property="code" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="IsPublic" property="ispublic" jdbcType="TINYINT" />
    <result column="JiBie" property="jibie" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, name, parentid, IsPublic, JiBie
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PublicProvinceCity
    where code = #{code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PublicProvinceCity
    where code = #{code,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.PublicProvinceCity" >
    insert into PublicProvinceCity (code, name, parentid, 
      IsPublic, JiBie)
    values (#{code,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{ispublic,jdbcType=TINYINT}, #{jibie,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.PublicProvinceCity" >
    insert into PublicProvinceCity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="ispublic != null" >
        IsPublic,
      </if>
      <if test="jibie != null" >
        JiBie,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="ispublic != null" >
        #{ispublic,jdbcType=TINYINT},
      </if>
      <if test="jibie != null" >
        #{jibie,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.PublicProvinceCity" >
    update PublicProvinceCity
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="ispublic != null" >
        IsPublic = #{ispublic,jdbcType=TINYINT},
      </if>
      <if test="jibie != null" >
        JiBie = #{jibie,jdbcType=INTEGER},
      </if>
    </set>
    where code = #{code,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.PublicProvinceCity" >
    update PublicProvinceCity
    set name = #{name,jdbcType=NVARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      IsPublic = #{ispublic,jdbcType=TINYINT},
      JiBie = #{jibie,jdbcType=INTEGER}
    where code = #{code,jdbcType=INTEGER}
  </update>
  <!--获取开放城市列表（非分页） add by caoheyang 20150720  -->
    <select id="getOpenCityList" resultMap="BaseResultMap" parameterType="java.lang.String" >
select  p.code ProvinceCode ,
        p.name ProvinceName ,
        c.code CityCode ,
        c.name CityName ,
        d.code DistrictCode ,
        d.name DistrictName ,
        d.IsPublic
from    PublicProvinceCity d with ( nolock )
        join PublicProvinceCity c with ( nolock ) on d.parentid = c.code
        join PublicProvinceCity p with ( nolock ) on c.parentid = p.code
where   1 = 1
 	
  </select>
  
</mapper>