<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IServicePhoneDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.ServicePhone" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Phone" property="phone" jdbcType="NVARCHAR" />
    <result column="CityName" property="cityname" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, Phone, CityName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ServicePhone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ServicePhone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.ServicePhone" >
    insert into ServicePhone (id, Phone, CityName
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=NVARCHAR}, #{cityname,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.ServicePhone" >
    insert into ServicePhone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="cityname != null" >
        CityName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.ServicePhone" >
    update ServicePhone
    <set >
      <if test="phone != null" >
        Phone = #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="cityname != null" >
        CityName = #{cityname,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.ServicePhone" >
    update ServicePhone
    set Phone = #{phone,jdbcType=NVARCHAR},
      CityName = #{cityname,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>