<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dal.dao.inter.IStatisticDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.Statistic" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="InsertTime" property="inserttime" jdbcType="TIMESTAMP" />
    <result column="BusinessCount" property="businesscount" jdbcType="INTEGER" />
    <result column="RzqsCount" property="rzqscount" jdbcType="INTEGER" />
    <result column="DdrzqsCount" property="ddrzqscount" jdbcType="INTEGER" />
    <result column="OrderPrice" property="orderprice" jdbcType="DECIMAL" />
    <result column="MisstionCount" property="misstioncount" jdbcType="INTEGER" />
    <result column="OrderCount" property="ordercount" jdbcType="INTEGER" />
    <result column="BusinessAverageOrderCount" property="businessaverageordercount" jdbcType="DOUBLE" />
    <result column="MissionAverageOrderCount" property="missionaverageordercount" jdbcType="DOUBLE" />
    <result column="ClienterAverageOrderCount" property="clienteraverageordercount" jdbcType="DOUBLE" />
    <result column="YsPrice" property="ysprice" jdbcType="DECIMAL" />
    <result column="YfPrice" property="yfprice" jdbcType="DECIMAL" />
    <result column="YkPrice" property="ykprice" jdbcType="DECIMAL" />
    <result column="OneSubsidyOrderCount" property="onesubsidyordercount" jdbcType="INTEGER" />
    <result column="TwoSubsidyOrderCount" property="twosubsidyordercount" jdbcType="INTEGER" />
    <result column="ThreeSubsidyOrderCount" property="threesubsidyordercount" jdbcType="INTEGER" />
    <result column="ZeroSubsidyOrderCount" property="zerosubsidyordercount" jdbcType="INTEGER" />
    <result column="ActiveBusiness" property="activebusiness" jdbcType="INTEGER" />
    <result column="ActiveClienter" property="activeclienter" jdbcType="INTEGER" />
    <result column="incomeTotal" property="incometotal" jdbcType="DECIMAL" />
    <result column="rechargeTotal" property="rechargetotal" jdbcType="DECIMAL" />
    <result column="withdrawBusinessPrice" property="withdrawbusinessprice" jdbcType="DECIMAL" />
    <result column="businessBalance" property="businessbalance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, InsertTime, BusinessCount, RzqsCount, DdrzqsCount, OrderPrice, MisstionCount, 
    OrderCount, BusinessAverageOrderCount, MissionAverageOrderCount, ClienterAverageOrderCount, 
    YsPrice, YfPrice, YkPrice, OneSubsidyOrderCount, TwoSubsidyOrderCount, ThreeSubsidyOrderCount, 
    ZeroSubsidyOrderCount, ActiveBusiness, ActiveClienter, incomeTotal, rechargeTotal, 
    withdrawBusinessPrice, businessBalance
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Statistic
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Statistic
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.Statistic" >
    insert into Statistic (Id, InsertTime, BusinessCount, 
      RzqsCount, DdrzqsCount, OrderPrice, 
      MisstionCount, OrderCount, BusinessAverageOrderCount, 
      MissionAverageOrderCount, ClienterAverageOrderCount, 
      YsPrice, YfPrice, YkPrice, 
      OneSubsidyOrderCount, TwoSubsidyOrderCount, 
      ThreeSubsidyOrderCount, ZeroSubsidyOrderCount, 
      ActiveBusiness, ActiveClienter, incomeTotal, 
      rechargeTotal, withdrawBusinessPrice, businessBalance
      )
    values (#{id,jdbcType=INTEGER}, #{inserttime,jdbcType=TIMESTAMP}, #{businesscount,jdbcType=INTEGER}, 
      #{rzqscount,jdbcType=INTEGER}, #{ddrzqscount,jdbcType=INTEGER}, #{orderprice,jdbcType=DECIMAL}, 
      #{misstioncount,jdbcType=INTEGER}, #{ordercount,jdbcType=INTEGER}, #{businessaverageordercount,jdbcType=DOUBLE}, 
      #{missionaverageordercount,jdbcType=DOUBLE}, #{clienteraverageordercount,jdbcType=DOUBLE}, 
      #{ysprice,jdbcType=DECIMAL}, #{yfprice,jdbcType=DECIMAL}, #{ykprice,jdbcType=DECIMAL}, 
      #{onesubsidyordercount,jdbcType=INTEGER}, #{twosubsidyordercount,jdbcType=INTEGER}, 
      #{threesubsidyordercount,jdbcType=INTEGER}, #{zerosubsidyordercount,jdbcType=INTEGER}, 
      #{activebusiness,jdbcType=INTEGER}, #{activeclienter,jdbcType=INTEGER}, #{incometotal,jdbcType=DECIMAL}, 
      #{rechargetotal,jdbcType=DECIMAL}, #{withdrawbusinessprice,jdbcType=DECIMAL}, #{businessbalance,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.Statistic" >
    insert into Statistic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="inserttime != null" >
        InsertTime,
      </if>
      <if test="businesscount != null" >
        BusinessCount,
      </if>
      <if test="rzqscount != null" >
        RzqsCount,
      </if>
      <if test="ddrzqscount != null" >
        DdrzqsCount,
      </if>
      <if test="orderprice != null" >
        OrderPrice,
      </if>
      <if test="misstioncount != null" >
        MisstionCount,
      </if>
      <if test="ordercount != null" >
        OrderCount,
      </if>
      <if test="businessaverageordercount != null" >
        BusinessAverageOrderCount,
      </if>
      <if test="missionaverageordercount != null" >
        MissionAverageOrderCount,
      </if>
      <if test="clienteraverageordercount != null" >
        ClienterAverageOrderCount,
      </if>
      <if test="ysprice != null" >
        YsPrice,
      </if>
      <if test="yfprice != null" >
        YfPrice,
      </if>
      <if test="ykprice != null" >
        YkPrice,
      </if>
      <if test="onesubsidyordercount != null" >
        OneSubsidyOrderCount,
      </if>
      <if test="twosubsidyordercount != null" >
        TwoSubsidyOrderCount,
      </if>
      <if test="threesubsidyordercount != null" >
        ThreeSubsidyOrderCount,
      </if>
      <if test="zerosubsidyordercount != null" >
        ZeroSubsidyOrderCount,
      </if>
      <if test="activebusiness != null" >
        ActiveBusiness,
      </if>
      <if test="activeclienter != null" >
        ActiveClienter,
      </if>
      <if test="incometotal != null" >
        incomeTotal,
      </if>
      <if test="rechargetotal != null" >
        rechargeTotal,
      </if>
      <if test="withdrawbusinessprice != null" >
        withdrawBusinessPrice,
      </if>
      <if test="businessbalance != null" >
        businessBalance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="businesscount != null" >
        #{businesscount,jdbcType=INTEGER},
      </if>
      <if test="rzqscount != null" >
        #{rzqscount,jdbcType=INTEGER},
      </if>
      <if test="ddrzqscount != null" >
        #{ddrzqscount,jdbcType=INTEGER},
      </if>
      <if test="orderprice != null" >
        #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="misstioncount != null" >
        #{misstioncount,jdbcType=INTEGER},
      </if>
      <if test="ordercount != null" >
        #{ordercount,jdbcType=INTEGER},
      </if>
      <if test="businessaverageordercount != null" >
        #{businessaverageordercount,jdbcType=DOUBLE},
      </if>
      <if test="missionaverageordercount != null" >
        #{missionaverageordercount,jdbcType=DOUBLE},
      </if>
      <if test="clienteraverageordercount != null" >
        #{clienteraverageordercount,jdbcType=DOUBLE},
      </if>
      <if test="ysprice != null" >
        #{ysprice,jdbcType=DECIMAL},
      </if>
      <if test="yfprice != null" >
        #{yfprice,jdbcType=DECIMAL},
      </if>
      <if test="ykprice != null" >
        #{ykprice,jdbcType=DECIMAL},
      </if>
      <if test="onesubsidyordercount != null" >
        #{onesubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="twosubsidyordercount != null" >
        #{twosubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="threesubsidyordercount != null" >
        #{threesubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="zerosubsidyordercount != null" >
        #{zerosubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="activebusiness != null" >
        #{activebusiness,jdbcType=INTEGER},
      </if>
      <if test="activeclienter != null" >
        #{activeclienter,jdbcType=INTEGER},
      </if>
      <if test="incometotal != null" >
        #{incometotal,jdbcType=DECIMAL},
      </if>
      <if test="rechargetotal != null" >
        #{rechargetotal,jdbcType=DECIMAL},
      </if>
      <if test="withdrawbusinessprice != null" >
        #{withdrawbusinessprice,jdbcType=DECIMAL},
      </if>
      <if test="businessbalance != null" >
        #{businessbalance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.Statistic" >
    update Statistic
    <set >
      <if test="inserttime != null" >
        InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="businesscount != null" >
        BusinessCount = #{businesscount,jdbcType=INTEGER},
      </if>
      <if test="rzqscount != null" >
        RzqsCount = #{rzqscount,jdbcType=INTEGER},
      </if>
      <if test="ddrzqscount != null" >
        DdrzqsCount = #{ddrzqscount,jdbcType=INTEGER},
      </if>
      <if test="orderprice != null" >
        OrderPrice = #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="misstioncount != null" >
        MisstionCount = #{misstioncount,jdbcType=INTEGER},
      </if>
      <if test="ordercount != null" >
        OrderCount = #{ordercount,jdbcType=INTEGER},
      </if>
      <if test="businessaverageordercount != null" >
        BusinessAverageOrderCount = #{businessaverageordercount,jdbcType=DOUBLE},
      </if>
      <if test="missionaverageordercount != null" >
        MissionAverageOrderCount = #{missionaverageordercount,jdbcType=DOUBLE},
      </if>
      <if test="clienteraverageordercount != null" >
        ClienterAverageOrderCount = #{clienteraverageordercount,jdbcType=DOUBLE},
      </if>
      <if test="ysprice != null" >
        YsPrice = #{ysprice,jdbcType=DECIMAL},
      </if>
      <if test="yfprice != null" >
        YfPrice = #{yfprice,jdbcType=DECIMAL},
      </if>
      <if test="ykprice != null" >
        YkPrice = #{ykprice,jdbcType=DECIMAL},
      </if>
      <if test="onesubsidyordercount != null" >
        OneSubsidyOrderCount = #{onesubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="twosubsidyordercount != null" >
        TwoSubsidyOrderCount = #{twosubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="threesubsidyordercount != null" >
        ThreeSubsidyOrderCount = #{threesubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="zerosubsidyordercount != null" >
        ZeroSubsidyOrderCount = #{zerosubsidyordercount,jdbcType=INTEGER},
      </if>
      <if test="activebusiness != null" >
        ActiveBusiness = #{activebusiness,jdbcType=INTEGER},
      </if>
      <if test="activeclienter != null" >
        ActiveClienter = #{activeclienter,jdbcType=INTEGER},
      </if>
      <if test="incometotal != null" >
        incomeTotal = #{incometotal,jdbcType=DECIMAL},
      </if>
      <if test="rechargetotal != null" >
        rechargeTotal = #{rechargetotal,jdbcType=DECIMAL},
      </if>
      <if test="withdrawbusinessprice != null" >
        withdrawBusinessPrice = #{withdrawbusinessprice,jdbcType=DECIMAL},
      </if>
      <if test="businessbalance != null" >
        businessBalance = #{businessbalance,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.Statistic" >
    update Statistic
    set InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      BusinessCount = #{businesscount,jdbcType=INTEGER},
      RzqsCount = #{rzqscount,jdbcType=INTEGER},
      DdrzqsCount = #{ddrzqscount,jdbcType=INTEGER},
      OrderPrice = #{orderprice,jdbcType=DECIMAL},
      MisstionCount = #{misstioncount,jdbcType=INTEGER},
      OrderCount = #{ordercount,jdbcType=INTEGER},
      BusinessAverageOrderCount = #{businessaverageordercount,jdbcType=DOUBLE},
      MissionAverageOrderCount = #{missionaverageordercount,jdbcType=DOUBLE},
      ClienterAverageOrderCount = #{clienteraverageordercount,jdbcType=DOUBLE},
      YsPrice = #{ysprice,jdbcType=DECIMAL},
      YfPrice = #{yfprice,jdbcType=DECIMAL},
      YkPrice = #{ykprice,jdbcType=DECIMAL},
      OneSubsidyOrderCount = #{onesubsidyordercount,jdbcType=INTEGER},
      TwoSubsidyOrderCount = #{twosubsidyordercount,jdbcType=INTEGER},
      ThreeSubsidyOrderCount = #{threesubsidyordercount,jdbcType=INTEGER},
      ZeroSubsidyOrderCount = #{zerosubsidyordercount,jdbcType=INTEGER},
      ActiveBusiness = #{activebusiness,jdbcType=INTEGER},
      ActiveClienter = #{activeclienter,jdbcType=INTEGER},
      incomeTotal = #{incometotal,jdbcType=DECIMAL},
      rechargeTotal = #{rechargetotal,jdbcType=DECIMAL},
      withdrawBusinessPrice = #{withdrawbusinessprice,jdbcType=DECIMAL},
      businessBalance = #{businessbalance,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>