<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ctas.test.mapper.BusinessBalanceRecordMapper">
  <resultMap id="BaseResultMap" type="ctas.test.entity.BusinessBalanceRecord">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="BusinessId" jdbcType="INTEGER" property="businessid" />
    <result column="Amount" jdbcType="DECIMAL" property="amount" />
    <result column="Status" jdbcType="SMALLINT" property="status" />
    <result column="Balance" jdbcType="DECIMAL" property="balance" />
    <result column="RecordType" jdbcType="SMALLINT" property="recordtype" />
    <result column="Operator" jdbcType="NVARCHAR" property="operator" />
    <result column="OperateTime" jdbcType="TIMESTAMP" property="operatetime" />
    <result column="WithwardId" jdbcType="BIGINT" property="withwardid" />
    <result column="RelationNo" jdbcType="VARCHAR" property="relationno" />
    <result column="Remark" jdbcType="NVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, BusinessId, Amount, Status, Balance, RecordType, Operator, OperateTime, WithwardId, 
    RelationNo, Remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BusinessBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from BusinessBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ctas.test.entity.BusinessBalanceRecord">
    insert into BusinessBalanceRecord (Id, BusinessId, Amount, 
      Status, Balance, RecordType, 
      Operator, OperateTime, WithwardId, 
      RelationNo, Remark)
    values (#{id,jdbcType=BIGINT}, #{businessid,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{status,jdbcType=SMALLINT}, #{balance,jdbcType=DECIMAL}, #{recordtype,jdbcType=SMALLINT}, 
      #{operator,jdbcType=NVARCHAR}, #{operatetime,jdbcType=TIMESTAMP}, #{withwardid,jdbcType=BIGINT}, 
      #{relationno,jdbcType=VARCHAR}, #{remark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ctas.test.entity.BusinessBalanceRecord">
    insert into BusinessBalanceRecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="businessid != null">
        BusinessId,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="balance != null">
        Balance,
      </if>
      <if test="recordtype != null">
        RecordType,
      </if>
      <if test="operator != null">
        Operator,
      </if>
      <if test="operatetime != null">
        OperateTime,
      </if>
      <if test="withwardid != null">
        WithwardId,
      </if>
      <if test="relationno != null">
        RelationNo,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessid != null">
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null">
        #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null">
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null">
        #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null">
        #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ctas.test.entity.BusinessBalanceRecord">
    update BusinessBalanceRecord
    <set>
      <if test="businessid != null">
        BusinessId = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null">
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null">
        RecordType = #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null">
        Operator = #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null">
        OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null">
        WithwardId = #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null">
        RelationNo = #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ctas.test.entity.BusinessBalanceRecord">
    update BusinessBalanceRecord
    set BusinessId = #{businessid,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=DECIMAL},
      Status = #{status,jdbcType=SMALLINT},
      Balance = #{balance,jdbcType=DECIMAL},
      RecordType = #{recordtype,jdbcType=SMALLINT},
      Operator = #{operator,jdbcType=NVARCHAR},
      OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      WithwardId = #{withwardid,jdbcType=BIGINT},
      RelationNo = #{relationno,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="ctas.test.entity.BusinessBalanceRecord">
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="BusinessId" jdbcType="INTEGER" property="businessid" />
    <result column="Amount" jdbcType="DECIMAL" property="amount" />
    <result column="Status" jdbcType="SMALLINT" property="status" />
    <result column="Balance" jdbcType="DECIMAL" property="balance" />
    <result column="RecordType" jdbcType="SMALLINT" property="recordtype" />
    <result column="Operator" jdbcType="NVARCHAR" property="operator" />
    <result column="OperateTime" jdbcType="TIMESTAMP" property="operatetime" />
    <result column="WithwardId" jdbcType="BIGINT" property="withwardid" />
    <result column="RelationNo" jdbcType="VARCHAR" property="relationno" />
    <result column="Remark" jdbcType="NVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, BusinessId, Amount, Status, Balance, RecordType, Operator, OperateTime, WithwardId, 
    RelationNo, Remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BusinessBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from BusinessBalanceRecord
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ctas.test.entity.BusinessBalanceRecord">
    insert into BusinessBalanceRecord (Id, BusinessId, Amount, 
      Status, Balance, RecordType, 
      Operator, OperateTime, WithwardId, 
      RelationNo, Remark)
    values (#{id,jdbcType=BIGINT}, #{businessid,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{status,jdbcType=SMALLINT}, #{balance,jdbcType=DECIMAL}, #{recordtype,jdbcType=SMALLINT}, 
      #{operator,jdbcType=NVARCHAR}, #{operatetime,jdbcType=TIMESTAMP}, #{withwardid,jdbcType=BIGINT}, 
      #{relationno,jdbcType=VARCHAR}, #{remark,jdbcType=NVARCHAR})
  </insert>
<!--                   prefix：添加前缀 -->
<!--                 suffix：添加后缀 -->
<!--                 prefixOverrides：干掉第一个, -->
<!--                 suffixOverrides：干掉最后那个, -->
  <insert id="insertSelective" parameterType="ctas.test.entity.BusinessBalanceRecord">
    insert into BusinessBalanceRecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="businessid != null">
        BusinessId,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="balance != null">
        Balance,
      </if>
      <if test="recordtype != null">
        RecordType,
      </if>
      <if test="operator != null">
        Operator,
      </if>
      <if test="operatetime != null">
        OperateTime,
      </if>
      <if test="withwardid != null">
        WithwardId,
      </if>
      <if test="relationno != null">
        RelationNo,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessid != null">
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null">
        #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null">
        #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null">
        #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null">
        #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ctas.test.entity.BusinessBalanceRecord">
    update BusinessBalanceRecord
    <set>
      <if test="businessid != null">
        BusinessId = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="balance != null">
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="recordtype != null">
        RecordType = #{recordtype,jdbcType=SMALLINT},
      </if>
      <if test="operator != null">
        Operator = #{operator,jdbcType=NVARCHAR},
      </if>
      <if test="operatetime != null">
        OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="withwardid != null">
        WithwardId = #{withwardid,jdbcType=BIGINT},
      </if>
      <if test="relationno != null">
        RelationNo = #{relationno,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ctas.test.entity.BusinessBalanceRecord">
    update BusinessBalanceRecord
    set BusinessId = #{businessid,jdbcType=INTEGER},
      Amount = #{amount,jdbcType=DECIMAL},
      Status = #{status,jdbcType=SMALLINT},
      Balance = #{balance,jdbcType=DECIMAL},
      RecordType = #{recordtype,jdbcType=SMALLINT},
      Operator = #{operator,jdbcType=NVARCHAR},
      OperateTime = #{operatetime,jdbcType=TIMESTAMP},
      WithwardId = #{withwardid,jdbcType=BIGINT},
      RelationNo = #{relationno,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>