<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IAccountCityRelationDao" >
  <sql id="Base_Column_List" >
    Id, AccountId, CityId, IsEnable, CreateBy, CreateTime, UpdateBy, UpdateTime
  </sql>
<update id="modifyAuthList" parameterType="java.util.List">
	 <foreach collection="list" index="index" item="item">    
IF EXISTS ( SELECT  1
            FROM    AccountCityRelation with(nolock)
            WHERE   accountid = #{item.accountid,jdbcType=INTEGER} 
                    AND CityId = #{item.cityid,jdbcType=INTEGER})
    BEGIN
        update  AccountCityRelation
        set IsEnable=#{item.isenable,jdbcType=INTEGER},UpdateBy=#{item.updateby,jdbcType=NVARCHAR} 
        WHERE   accountid = #{item.accountid,jdbcType=INTEGER}
                AND cityid = #{item.cityid,jdbcType=INTEGER}
    END
ELSE
    INSERT  INTO AccountCityRelation
            ( accountid, cityid,CreateBy, UpdateBy) 
    VALUES  ( #{item.accountid,jdbcType=INTEGER}, #{item.cityid,jdbcType=INTEGER},
    #{item.createby,jdbcType=NVARCHAR},#{item.updateby,jdbcType=NVARCHAR} )
     </foreach>
	</update>
  <!-- 获取后台用户可查看的城市集合  add by zhaohl  20160115-->
   <select id="getAuthorityCitys" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
SELECT acr.cityid  
FROM [AccountCityRelation] acr with(nolock)
JOIN PublicProvinceCity ppc with(nolock) on acr.CityId=ppc.code
WHERE acr.AccountId=#{userId} and acr.IsEnable=1
  </select>
</mapper>