<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IAuthorityAccountMenuSetDao" >
  <select id="getMenuIdsByAccountId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select MenuId from AuthorityAccountMenuSet with(nolock) where AccoutId=#{accoutid,jdbcType=INTEGER}
  </select>
  <update id="modifyAuthList" parameterType="java.util.List">
	 <foreach collection="list" index="index" item="item">    
IF EXISTS ( SELECT  1
            FROM    AuthorityAccountMenuSet with(nolock)
            WHERE   AccoutId = #{item.accoutid,jdbcType=INTEGER} 
                    AND MenuId = #{item.menuid,jdbcType=INTEGER} )
    BEGIN
        DELETE  AuthorityAccountMenuSet
        WHERE   AccoutId = #{item.accoutid,jdbcType=INTEGER}
                AND MenuId = #{item.menuid,jdbcType=INTEGER}
    END
ELSE
    INSERT  INTO AuthorityAccountMenuSet
            ( AccoutId, MenuId )
    VALUES  ( #{item.accoutid,jdbcType=INTEGER}, #{item.menuid,jdbcType=INTEGER} )
     </foreach>
	</update>
</mapper>