<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IBusinessOptionLogDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.BusinessOptionLog" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="BusinessId" property="businessid" jdbcType="INTEGER" />
    <result column="OptId" property="optid" jdbcType="INTEGER" />
    <result column="OptName" property="optname" jdbcType="VARCHAR" />
    <result column="InsertTime" property="inserttime" jdbcType="TIMESTAMP" />
    <result column="Platform" property="platform" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, BusinessId, OptId, OptName, InsertTime, Platform, Remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from BusinessOptionLog
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from BusinessOptionLog
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.BusinessOptionLog" >
    insert into BusinessOptionLog (Id, BusinessId, OptId, 
      OptName, InsertTime, Platform, 
      Remark)
    values (#{id,jdbcType=INTEGER}, #{businessid,jdbcType=INTEGER}, #{optid,jdbcType=INTEGER}, 
      #{optname,jdbcType=VARCHAR}, #{inserttime,jdbcType=TIMESTAMP}, #{platform,jdbcType=INTEGER}, 
      #{remark,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.BusinessOptionLog" >
    insert into BusinessOptionLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="businessid != null" >
        BusinessId,
      </if>
      <if test="optid != null" >
        OptId,
      </if>
      <if test="optname != null" >
        OptName,
      </if>
      <if test="inserttime != null" >
        InsertTime,
      </if>
      <if test="platform != null" >
        Platform,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=INTEGER},
      </if>
      <if test="optid != null" >
        #{optid,jdbcType=INTEGER},
      </if>
      <if test="optname != null" >
        #{optname,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.BusinessOptionLog" >
    update BusinessOptionLog
    <set >
      <if test="businessid != null" >
        BusinessId = #{businessid,jdbcType=INTEGER},
      </if>
      <if test="optid != null" >
        OptId = #{optid,jdbcType=INTEGER},
      </if>
      <if test="optname != null" >
        OptName = #{optname,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="platform != null" >
        Platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=NVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.BusinessOptionLog" >
    update BusinessOptionLog
    set BusinessId = #{businessid,jdbcType=INTEGER},
      OptId = #{optid,jdbcType=INTEGER},
      OptName = #{optname,jdbcType=VARCHAR},
      InsertTime = #{inserttime,jdbcType=TIMESTAMP},
      Platform = #{platform,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>