<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IGroupBusinessRechargeDao" >
  <insert id="insert" parameterType="com.edaisong.entity.GroupBusinessRecharge" >
    insert into GroupBusinessRecharge (GroupBusinessId, PayType, 
      OrderNo, PayAmount, PayStatus, 
      PayBy, RequestTime, PayTime, 
      OriginalOrderNo)
    values (#{groupbusinessid,jdbcType=INTEGER}, #{paytype,jdbcType=INTEGER}, 
      #{orderno,jdbcType=VARCHAR}, #{payamount,jdbcType=DECIMAL}, #{paystatus,jdbcType=INTEGER}, 
      #{payby,jdbcType=NVARCHAR}, #{requesttime,jdbcType=TIMESTAMP}, #{paytime,jdbcType=TIMESTAMP}, 
      #{originalorderno,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.edaisong.entity.GroupBusinessRecharge">
		update GroupBusinessRecharge
		set PayStatus = #{paystatus,jdbcType=INTEGER},
		PayBy =#{payby,jdbcType=NVARCHAR},
		PayTime =#{paytime,jdbcType=TIMESTAMP},
		OriginalOrderNo =#{originalorderno,jdbcType=VARCHAR}
		where OrderNo = #{orderno,jdbcType=VARCHAR} and PayStatus!=#{paystatus,jdbcType=INTEGER}
	</update>
	  	<!--集团中心商户充值流水页面  -->
	  	  <sql id="Base_Column_List" >
  GroupBusinessId, PayType,       OrderNo, PayAmount, PayStatus, 
      PayBy, RequestTime, PayTime,       OriginalOrderNo
  </sql> 
  	<sql id="getGroupBusinessRechargRecordFrom">
		dbo.GroupBusinessRecharge (nolock) 
	</sql>
	<sql id="getGroupBusinessRechargRecordWhere">
		1=1   and GroupBusinessId =${groupBusinessId} 	
		<if test="operateTimeStart != null and operateTimeStart!=''">
			and RequestTime>= ''${operateTimeStart} 00:00:00''
		</if>
		<if test="operateTimeEnd != null and operateTimeEnd!=''">
		AND DATEADD(d, 1, ''${operateTimeEnd}'')>RequestTime
		</if>
	</sql>
	<select id="getGroupBusinessRechargRecord" resultType="com.edaisong.entity.GroupBusinessRecharge"
		parameterType="com.edaisong.entity.req.PagedGroupBusinessRechargeReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' Id DESC ',
		'
		<include refid="Base_Column_List" />
		',
		'
		<include refid="getGroupBusinessRechargRecordFrom" />
		',
		'
		<include refid="getGroupBusinessRechargRecordWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
	
	  <select id="getByOrderNo" resultType="com.edaisong.entity.GroupBusinessRecharge" parameterType="java.lang.String">
		select top 1 * from  GroupBusinessRecharge
		where OrderNo = #{orderNO,jdbcType=VARCHAR} 
	</select>
    <select id="getGroupBalance" resultType="com.edaisong.entity.domain.GroupBusinessBalance" parameterType="java.lang.Long">
SELECT  0 AS moneytype ,
        amount
FROM    dbo.groupbusiness WITH ( NOLOCK )
WHERE   id = #{groupBusinessID,jdbcType=INTEGER}
UNION ALL
SELECT  1 AS moneytype ,
         ISNULL(SUM(PayAmount),0) AS amount
FROM    groupbusinessrecharge WITH ( NOLOCK )
WHERE   GroupBusinessId = #{groupBusinessID,jdbcType=INTEGER}
        AND PayStatus = 1
	</select>
</mapper>