<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IOrderSubsidiesLogDao" >
  <insert id="insert" parameterType="com.edaisong.entity.OrderSubsidiesLog"  useGeneratedKeys="true" keyProperty="id" >
    insert into OrderSubsidiesLog (OrderId, Price, 
      InsertTime, OptName, Remark, 
      OptId, OrderStatus, Platform
      )
    values (#{orderid,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      getdate(), #{optname,jdbcType=NVARCHAR}, #{remark,jdbcType=NVARCHAR}, 
      #{optid,jdbcType=INTEGER}, #{orderstatus,jdbcType=INTEGER}, #{platform,jdbcType=INTEGER}
      )
  </insert>
  
    <!-- 获取订单操作日志  Caoheyang 20150827 条件里面为啥要写 and 101>Platform  这个 我去掉了achao-->
	<select id="GetOrderOptionLog" resultType="com.edaisong.entity.OrderSubsidiesLog"
		parameterType="java.util.Map">
		SELECT  Id,
                                    OrderId,
                                    OrderStatus,
                                    OptId,
                                    OptName,
                                    InsertTime,
                                    Platform,
                                    Remark
                            FROM OrderSubsidiesLog (nolock)
                            WHERE OrderId= #{orderId,jdbcType=INTEGER}  
                            ORDER BY Id;
	</select>
	    <!-- 获取智能调度操作日志  zhaohl 20151105 -->
	<select id="GetFastOrderOptionLog" resultType="com.edaisong.entity.OrderSubsidiesLog"
		parameterType="java.util.Map">
		SELECT  Id,
                                    OrderId,
                                    OrderStatus,
                                    OptId,
                                    OptName,
                                    InsertTime,
                                    Platform,
                                    Remark
                            FROM OrderSubsidiesLog(nolock)
                            WHERE OrderId= #{orderId,jdbcType=INTEGER} and Platform>100
                            ORDER BY Id;
	</select>
</mapper>