<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IOrderRegionLogDao" >
  <insert id="insert" parameterType="com.edaisong.entity.OrderRegionLog" >
    insert into OrderRegionLog (OrderRegionId, BusinessId, 
      remark,OptType, OptTime, OptName)
    values (#{orderregionid,jdbcType=INTEGER}, #{businessid,jdbcType=INTEGER}, 
      #{remark,jdbcType=NVARCHAR}, 
      #{opttype,jdbcType=INTEGER},getdate(), 
      #{optname,jdbcType=NVARCHAR})
  </insert>
    <select id="getList" resultType="com.edaisong.entity.OrderRegionLog"
     parameterType="java.lang.Long" >
    select * from OrderRegionLog (nolock)
    where BusinessId = #{businessId,jdbcType=INTEGER}
    order by OptTime desc
  </select>
  <select id="getPagedList" resultType="com.edaisong.entity.OrderRegionLog"
		parameterType="com.edaisong.entity.req.PagedBusinessMessageReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' OptTime DESC ',
		'*',
		' OrderRegionLog (nolock) ',
		' BusinessId = ${businessId} ',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select> 
</mapper>