<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IOrderTipDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.OrderTip" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Amount" property="amount" jdbcType="DECIMAL" />
    <result column="CreateName" property="createname" jdbcType="NVARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="ModifyName" property="modifyname" jdbcType="NVARCHAR" />
    <result column="ModifyTime" property="modifytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Amount, CreateName, CreateTime, ModifyName, ModifyTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from OrderTip
    where Id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectByTip" resultType="com.edaisong.entity.OrderTip" parameterType="java.util.Map" >
    select  Id, Amount, CreateName, CreateTime, ModifyName, ModifyTime
    from OrderTip
    where     Amount= #{amount,jdbcType=DECIMAL} and id!=#{id,jdbcType=INTEGER}
  </select>
       <select id="getList" resultType="com.edaisong.entity.OrderTip"  >      
   SELECT      Id, Amount, CreateName, CreateTime, ModifyName, ModifyTime
   FROM     [OrderTip]  WITH ( NOLOCK )         
   WHERE    1 = 1  
  </select>
  
    <sql id="queryWhere">
		1=1
		<if test="amount != ''">
			and amount=${amount}
		</if>
	</sql>
	
      <select id="query" resultType="com.edaisong.entity.OrderTip" 
  parameterType="com.edaisong.entity.req.PagedOrderTipReq" 
  statementType="CALLABLE">
{call Sp_CustomPage2015_V1(
'  id DESC',
' Id, Amount, CreateName, CreateTime, ModifyName, ModifyTime',
' 	OrderTip WITH (NOLOCK)',
'<include refid="queryWhere" />',
#{pageSize,mode=IN,jdbcType=INTEGER},
#{currentPage,mode=IN,jdbcType=INTEGER}
,1,
#{totalRecord,mode=OUT,jdbcType=INTEGER},
#{totalPage,mode=OUT,jdbcType=INTEGER}
)}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from OrderTip
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.OrderTip" >
    insert into OrderTip (Id, Amount, CreateName, 
      CreateTime, ModifyName, ModifyTime
      )
    values (#{id,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{createname,jdbcType=NVARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifyname,jdbcType=NVARCHAR}, #{modifytime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.OrderTip" >
    insert into OrderTip
    <trim prefix="(" suffix=")" suffixOverrides="," >    
      <if test="amount != null" >
        Amount,
      </if>
      <if test="createname != null" >
        CreateName,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="modifyname != null" >
        ModifyName,
      </if>
      <if test="modifytime != null" >
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >   
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyname != null" >
        #{modifyname,jdbcType=NVARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.OrderTip" >
    update OrderTip
    <set >
      <if test="amount != null" >
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createname != null" >
        CreateName = #{createname,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyname != null" >
        ModifyName = #{modifyname,jdbcType=NVARCHAR},
      </if>
      <if test="modifytime != null" >
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.OrderTip" >
    update OrderTip
    set Amount = #{amount,jdbcType=DECIMAL},
      CreateName = #{createname,jdbcType=NVARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      ModifyName = #{modifyname,jdbcType=NVARCHAR},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>