<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.IOrderGrabChildDao" >
  <sql id="Base_Column_List" >
    Id, GrabOrderId, OrderId, OrderChildId, ChildId, Status, ActualDoneDate, DoneLongitude, 
    DoneLatitude,businessId,OrderCommission,SettleMoney,CommissionRate,BaseCommission,websitesubsidy,adjustment,distribsubsidy
  </sql>
  <select id="selectByPrimaryKey" resultType="com.edaisong.entity.OrderGrabChild" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from OrderGrabChild
    where Id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectCompletedOrderByGrabOrderId" resultType="com.edaisong.entity.OrderGrabChild" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OrderGrabChild with(nolock)
    where GrabOrderId = #{grabOrderId,jdbcType=INTEGER} and status=1
  </select>
      <select id="selectByGrabOrderId" resultType="com.edaisong.entity.OrderGrabChild" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from OrderGrabChild with(nolock)
    where GrabOrderId = #{grabOrderId,jdbcType=INTEGER}
  </select>
      <select id="selectTop1ByGrabOrderId" resultType="com.edaisong.entity.OrderGrabChild" parameterType="java.lang.Long" >
    select  top 1
    <include refid="Base_Column_List" />
    from OrderGrabChild 
    where GrabOrderId = #{grabOrderId,jdbcType=INTEGER} and status=4
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from OrderGrabChild
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.OrderGrabChild" >
    insert into OrderGrabChild (Id, GrabOrderId, OrderId, 
      OrderChildId, ChildId, Status, 
      ActualDoneDate, DoneLongitude, DoneLatitude
      )
    values (#{id,jdbcType=INTEGER}, #{graborderid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, 
      #{orderchildid,jdbcType=INTEGER}, #{childid,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{actualdonedate,jdbcType=TIMESTAMP}, #{donelongitude,jdbcType=DOUBLE}, #{donelatitude,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.OrderGrabChild" >
    insert into OrderGrabChild
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="graborderid != null" >
        GrabOrderId,
      </if>
      <if test="orderid != null" >
        OrderId,
      </if>
      <if test="orderchildid != null" >
        OrderChildId,
      </if>
      <if test="childid != null" >
        ChildId,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="actualdonedate != null" >
        ActualDoneDate,
      </if>
      <if test="donelongitude != null" >
        DoneLongitude,
      </if>
      <if test="donelatitude != null" >
        DoneLatitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="graborderid != null" >
        #{graborderid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderchildid != null" >
        #{orderchildid,jdbcType=INTEGER},
      </if>
      <if test="childid != null" >
        #{childid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="actualdonedate != null" >
        #{actualdonedate,jdbcType=TIMESTAMP},
      </if>
      <if test="donelongitude != null" >
        #{donelongitude,jdbcType=DOUBLE},
      </if>
      <if test="donelatitude != null" >
        #{donelatitude,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  	<update id="insertList" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" >
			insert into OrderGrabChild (GrabOrderId, OrderId, OrderChildId, ChildId,
			businessId,Status, ActualDoneDate, DoneLongitude,DoneLatitude,
			 OrderCommission,SettleMoney,CommissionRate,BaseCommission,
			 websitesubsidy,adjustment,distribsubsidy
			) values (
			#{item.graborderid,jdbcType=INTEGER},			
			#{item.orderid,jdbcType=INTEGER},
			#{item.orderchildid,jdbcType=INTEGER},			
			#{item.childid,jdbcType=INTEGER},
			#{item.businessid,jdbcType=INTEGER},
			#{item.status,jdbcType=BIT},
			#{item.actualdonedate,jdbcType=TIMESTAMP},
			#{item.donelongitude,jdbcType=DECIMAL},
			#{item.donelatitude,jdbcType=DECIMAL},
			#{item.orderCommission,jdbcType=DECIMAL},
			#{item.settleMoney,jdbcType=DECIMAL},
			#{item.commissionRate,jdbcType=DECIMAL},
			#{item.baseCommission,jdbcType=DECIMAL},
			#{item.websiteSubsidy,jdbcType=DECIMAL},
			#{item.adjustment,jdbcType=DECIMAL},
			#{item.distribsubsidy,jdbcType=DECIMAL}				
			);
		</foreach>
	</update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.OrderGrabChild" >
    update OrderGrabChild
    <set >
      <if test="graborderid != null" >
        GrabOrderId = #{graborderid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        OrderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderchildid != null" >
        OrderChildId = #{orderchildid,jdbcType=INTEGER},
      </if>
      <if test="childid != null" >
        ChildId = #{childid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="actualdonedate != null" >
        ActualDoneDate = #{actualdonedate,jdbcType=TIMESTAMP},
      </if>
      <if test="donelongitude != null" >
        DoneLongitude = #{donelongitude,jdbcType=DOUBLE},
      </if>
      <if test="donelatitude != null" >
        DoneLatitude = #{donelatitude,jdbcType=DOUBLE},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByGraborderidSelective" parameterType="com.edaisong.entity.OrderGrabChild" >
    update OrderGrabChild
    <set >
      <if test="graborderid != null" >
        GrabOrderId = #{graborderid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        OrderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderchildid != null" >
        OrderChildId = #{orderchildid,jdbcType=INTEGER},
      </if>
      <if test="childid != null" >
        ChildId = #{childid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="actualdonedate != null" >
        ActualDoneDate = #{actualdonedate,jdbcType=TIMESTAMP},
      </if>
      <if test="donelongitude != null" >
        DoneLongitude = #{donelongitude,jdbcType=DOUBLE},
      </if>
      <if test="donelatitude != null" >
        DoneLatitude = #{donelatitude,jdbcType=DOUBLE},
      </if>
    </set>
    where GrabOrderId = #{graborderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.OrderGrabChild" >
    update OrderGrabChild
    set GrabOrderId = #{graborderid,jdbcType=INTEGER},
      OrderId = #{orderid,jdbcType=INTEGER},
      OrderChildId = #{orderchildid,jdbcType=INTEGER},
      ChildId = #{childid,jdbcType=INTEGER},
      Status = #{status,jdbcType=TINYINT},
      ActualDoneDate = #{actualdonedate,jdbcType=TIMESTAMP},
      DoneLongitude = #{donelongitude,jdbcType=DOUBLE},
      DoneLatitude = #{donelatitude,jdbcType=DOUBLE}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>