<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.ISubsidyDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.Subsidy" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="OrderCommission" property="ordercommission" jdbcType="NUMERIC" />
    <result column="DistribSubsidy" property="distribsubsidy" jdbcType="NUMERIC" />
    <result column="WebsiteSubsidy" property="websitesubsidy" jdbcType="NUMERIC" />
    <result column="StartDate" property="startdate" jdbcType="TIMESTAMP" />
    <result column="EndDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="TINYINT" />
    <result column="GroupId" property="groupid" jdbcType="INTEGER" />
    <result column="PKMCost" property="pkmcost" jdbcType="NUMERIC" />
    <result column="OrderType" property="ordertype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, OrderCommission, DistribSubsidy, WebsiteSubsidy, StartDate, EndDate, Status, 
    GroupId, PKMCost, OrderType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Subsidy
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Subsidy
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.entity.Subsidy" >
    insert into Subsidy (Id, OrderCommission, DistribSubsidy, 
      WebsiteSubsidy, StartDate, EndDate, 
      Status, GroupId, PKMCost, 
      OrderType)
    values (#{id,jdbcType=INTEGER}, #{ordercommission,jdbcType=NUMERIC}, #{distribsubsidy,jdbcType=NUMERIC}, 
      #{websitesubsidy,jdbcType=NUMERIC}, #{startdate,jdbcType=TIMESTAMP}, #{enddate,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{groupid,jdbcType=INTEGER}, #{pkmcost,jdbcType=NUMERIC}, 
      #{ordertype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.edaisong.entity.Subsidy" >
    insert into Subsidy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="ordercommission != null" >
        OrderCommission,
      </if>
      <if test="distribsubsidy != null" >
        DistribSubsidy,
      </if>
      <if test="websitesubsidy != null" >
        WebsiteSubsidy,
      </if>
      <if test="startdate != null" >
        StartDate,
      </if>
      <if test="enddate != null" >
        EndDate,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="groupid != null" >
        GroupId,
      </if>
      <if test="pkmcost != null" >
        PKMCost,
      </if>
      <if test="ordertype != null" >
        OrderType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordercommission != null" >
        #{ordercommission,jdbcType=NUMERIC},
      </if>
      <if test="distribsubsidy != null" >
        #{distribsubsidy,jdbcType=NUMERIC},
      </if>
      <if test="websitesubsidy != null" >
        #{websitesubsidy,jdbcType=NUMERIC},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="pkmcost != null" >
        #{pkmcost,jdbcType=NUMERIC},
      </if>
      <if test="ordertype != null" >
        #{ordertype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edaisong.entity.Subsidy" >
    update Subsidy
    <set >
      <if test="ordercommission != null" >
        OrderCommission = #{ordercommission,jdbcType=NUMERIC},
      </if>
      <if test="distribsubsidy != null" >
        DistribSubsidy = #{distribsubsidy,jdbcType=NUMERIC},
      </if>
      <if test="websitesubsidy != null" >
        WebsiteSubsidy = #{websitesubsidy,jdbcType=NUMERIC},
      </if>
      <if test="startdate != null" >
        StartDate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        EndDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
      <if test="groupid != null" >
        GroupId = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="pkmcost != null" >
        PKMCost = #{pkmcost,jdbcType=NUMERIC},
      </if>
      <if test="ordertype != null" >
        OrderType = #{ordertype,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edaisong.entity.Subsidy" >
    update Subsidy
    set OrderCommission = #{ordercommission,jdbcType=NUMERIC},
      DistribSubsidy = #{distribsubsidy,jdbcType=NUMERIC},
      WebsiteSubsidy = #{websitesubsidy,jdbcType=NUMERIC},
      StartDate = #{startdate,jdbcType=TIMESTAMP},
      EndDate = #{enddate,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=TINYINT},
      GroupId = #{groupid,jdbcType=INTEGER},
      PKMCost = #{pkmcost,jdbcType=NUMERIC},
      OrderType = #{ordertype,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>