<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.api.dao.inter.ITestUserTblDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.entity.TestUserTbl" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="PhoneNo" property="phoneno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, PhoneNo
  </sql>

  <!-- 删除指定账号 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TestUserTbl
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 根据电话号码删除指定账号 -->
  <delete id="deleteByPhoneNo" parameterType="java.lang.String" >
    delete from TestUserTbl
    where phoneNo = #{phoneNo,jdbcType=VARCHAR}
  </delete>
    <!-- 插入测试账号 -->
  <insert id="insert" parameterType="java.lang.String" >
  IF not EXISTS (SELECT 1 FROM dbo.TestUserTbl(NOLOCK) WHERE PhoneNo=#{phoneNo,jdbcType=VARCHAR})
    insert into TestUserTbl (phoneNo)
    values (#{phoneNo})
  </insert>
  <!-- 删除测试骑士 -->
  <delete id="deleteTestClienter" parameterType="java.lang.String" >
  IF EXISTS (SELECT 1 FROM dbo.TestUserTbl(NOLOCK) WHERE PhoneNo=#{phoneNo,jdbcType=VARCHAR})
      BEGIN
          update dbo.[order] set Status=3 ,clienterId=null where [order].clienterId =
          (select id from dbo.clienter(nolock) where PhoneNo=#{phoneNo,jdbcType=VARCHAR}) 
          delete from dbo.clienter where PhoneNo=#{phoneNo,jdbcType=VARCHAR}
      END
  </delete>
    <!-- 删除测试订单-->
  <delete id="deleteTestOrder" parameterType="java.lang.String" >
IF EXISTS (SELECT 1 FROM dbo.TestUserTbl(NOLOCK) WHERE PhoneNo=#{phoneNo,jdbcType=VARCHAR})
     BEGIN
        delete from [order] where businessId in (SELECT id FROM  dbo.business(nolock) where PhoneNo=#{phoneNo,jdbcType=VARCHAR})  
     END 
  </delete>
    <!--  删除测试商家 -->
  <delete id="deleteTestBusiness" parameterType="java.lang.String" >
IF EXISTS (SELECT 1 FROM dbo.TestUserTbl(NOLOCK) WHERE PhoneNo=#{phoneNo,jdbcType=VARCHAR})
   BEGIN
       delete from [order] where businessId in (SELECT id FROM  dbo.business(nolock) where PhoneNo=#{phoneNo,jdbcType=VARCHAR})
       delete from business where PhoneNo=#{phoneNo,jdbcType=VARCHAR}
   END
  </delete>
  <sql id="getPagedListWhere">
		1=1
		<if test="phoneNo != null and phoneNo != ''">
			and T.PhoneNo=''${phoneNo}''
		</if>
	</sql>
  <select id="getPagedList" resultType="com.edaisong.entity.domain.TestUserRecord"
		parameterType="com.edaisong.entity.req.PagedTestUserReq"
		statementType="CALLABLE">
		{call Sp_CustomPage2015_V1(
		' T.ID desc ',
		'
		T.Id,T.PhoneNo,CASE ISNULL(C.Id,0) WHEN 0 THEN 0 ELSE 1 END AS IsC
    	,CASE ISNULL(B.Id,0) WHEN 0 THEN 0 ELSE 1 END AS IsB
		',
		'
		dbo.TestUserTbl(nolock) T left JOIN dbo.clienter(nolock) C ON T.PhoneNo=C.PhoneNo 
     	left JOIN dbo.business(nolock) B ON T.PhoneNo=B.PhoneNo
		',
		'
		<include refid="getPagedListWhere" />
		',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)}
	</select>
</mapper>