<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.toolsapi.dao.inter.IAppDbConfigDao" >

  <sql id="Base_Column_List" >
    Id, AppName, ConfigValue, ConfigType, CreateTime, UpdateTime, CreateName, UpdateName
  </sql>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from AppDbConfig
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.edaisong.toolsentity.AppDbConfig" >
  if not EXISTS(select 1 from AppDbConfig (nolock) where AppName=#{appname,jdbcType=NVARCHAR} and ConfigType=#{configtype,jdbcType=INTEGER})
    insert into AppDbConfig (AppName, ConfigValue, 
      ConfigType, CreateTime, UpdateTime, 
      CreateName, UpdateName)
    values (#{appname,jdbcType=NVARCHAR}, #{configvalue,jdbcType=NVARCHAR}, 
      #{configtype,jdbcType=INTEGER}, getdate(), getdate(), 
      #{createname,jdbcType=NVARCHAR}, #{updatename,jdbcType=NVARCHAR})
  </insert>
  <update id="updateById" parameterType="com.edaisong.toolsentity.AppDbConfig" >
    update AppDbConfig
    set 
      configvalue = #{configvalue,jdbcType=NVARCHAR},
      UpdateTime = getdate(),
      UpdateName = #{updatename,jdbcType=NVARCHAR}
    where Id = #{id,jdbcType=BIGINT}
  </update>
   <sql id="queryWhere">
		1=1
		<if test="appname != null and appname!=''">
			and appname = ''${appname}''
		</if>
		<if test="configtype != null and configtype>=0">
			and configtype =${configtype}
		</if>
	</sql> 
<select id="query" resultType="com.edaisong.toolsentity.AppDbConfig" parameterType="com.edaisong.toolsentity.req.PagedAppDbConfigReq" statementType="CALLABLE">
{call Sp_CustomPage2015_V1(
		' Id desc ',
		' Id, AppName, ConfigValue, ConfigType, CreateTime, UpdateTime, CreateName, UpdateName',
		' AppDbConfig(nolock) ',
		'<include refid="queryWhere" />',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)} 
  </select>
    <select id="queryList" resultType="com.edaisong.toolsentity.AppDbConfig" parameterType="com.edaisong.toolsentity.req.PagedAppDbConfigReq" >
    select 
    AppName, ConfigValue, ConfigType
    from AppDbConfig(nolock) where 
    <include refid="queryWhere" />
  </select>
</mapper>