<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.toolsapi.dao.inter.IAppVersionDao" >
  <sql id="Base_Column_List" >
id,version,ismust,updateurl,message,platform,usertype,createdate,
createby,updateDate,updateby,istiming,timingdate,pubstatus,appsource
  </sql>
  <select id="selectById" resultType="com.edaisong.toolsentity.AppVersion" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from AppVersion with(nolock)
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="updateStatusById" parameterType="java.lang.Integer" >
    update AppVersion set pubstatus=2 ,updateDate=getdate,updateby=#{userName,jdbcType=NVARCHAR} 
    where ID = #{id,jdbcType=INTEGER} and pubstatus=1
  </delete>
  <insert id="insert" parameterType="com.edaisong.toolsentity.AppVersion" >
    insert into AppVersion (version,ismust,updateurl,message,platform,usertype,createdate,
createby,updateDate,updateby,istiming,timingdate,pubstatus,appsource)
    values (#{version,jdbcType=NVARCHAR}, #{ismust,jdbcType=INTEGER}, 
      #{updateurl,jdbcType=NVARCHAR}, #{message,jdbcType=NVARCHAR}, #{platform,jdbcType=INTEGER}, 
      #{usertype,jdbcType=INTEGER}, getdate(),
      #{createby,jdbcType=NVARCHAR},getdate(),#{updateby,jdbcType=NVARCHAR},
      #{istiming,jdbcType=INTEGER},      #{timingdate,jdbcType=TIMESTAMP},
      #{pubstatus,jdbcType=INTEGER}, #{appsource,jdbcType=INTEGER}
      )
  </insert>
  <update id="update" parameterType="com.edaisong.toolsentity.AppVersion" >
    update AppVersion
    set Version = #{version,jdbcType=NVARCHAR},
      IsMust = #{ismust,jdbcType=INTEGER},
      UpdateUrl = #{updateurl,jdbcType=NVARCHAR},
      Message = #{message,jdbcType=NVARCHAR},
      PlatForm = #{platform,jdbcType=INTEGER},
      UserType = #{usertype,jdbcType=INTEGER},
      updateDate = getdate(),
      updateby=#{updateby,jdbcType=NVARCHAR},
      istiming = #{istiming,jdbcType=INTEGER},
      timingdate = #{timingdate,jdbcType=TIMESTAMP},
      pubstatus = #{pubstatus,jdbcType=INTEGER},
      appsource = #{appsource,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="query" resultType="com.edaisong.toolsentity.AppVersion" parameterType="com.edaisong.toolsentity.common.PagedRequestBase" statementType="CALLABLE">
{call Sp_CustomPage2015_V1(
		' Id desc ',
		' id,version,ismust,updateurl,message,platform,usertype,createdate,
createby,updateDate,updateby,istiming,timingdate,pubstatus,appsource ',
		' AppVersion(nolock) ',
		' 1=1 ',
		#{pageSize,mode=IN,jdbcType=INTEGER},
		#{currentPage,mode=IN,jdbcType=INTEGER}
		,1,
		#{totalRecord,mode=OUT,jdbcType=INTEGER},
		#{totalPage,mode=OUT,jdbcType=INTEGER}
		)} 
  </select>
</mapper>