<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edaisong.toolsapi.dao.inter.IAuthorityMenuClassDao" >
  <resultMap id="BaseResultMap" type="com.edaisong.toolsentity.AuthorityMenuClass" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="ParId" property="parid" jdbcType="INTEGER" />
    <result column="MenuName" property="menuname" jdbcType="VARCHAR" />
    <result column="BeLock" property="belock" jdbcType="BIT" />
    <result column="Url" property="url" jdbcType="VARCHAR" />
    <result column="IsButton" property="isbutton" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ParId, MenuName, BeLock, Url, IsButton
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AuthorityMenuClass
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edaisong.toolsentity.AuthorityMenuClass" >
    insert into AuthorityMenuClass (ParId, MenuName, 
      BeLock, Url, IsButton)
    values (#{parid,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, 
      #{belock,jdbcType=BIT}, #{url,jdbcType=VARCHAR}, #{isbutton,jdbcType=BIT})
  </insert>
  <select id="getMenuListByUserID" resultType="com.edaisong.toolsentity.domain.MenuEntity" parameterType="java.lang.Integer" >
DECLARE @roleID INT
SELECT @roleID=ISNULL(b.Id,0) FROM dbo.account a left JOIN (select * from  AuthorityRole where BeLock=0 ) b ON 
a.RoleId=b.Id WHERE a.id=#{accountId}

IF @roleID>0
    SELECT  #{accountId} AS AccoutId ,
            MenuId ,
            ParId ,
            MenuName ,
            ISNULL(Url, '') AS Url ,
            amc.IsButton
    FROM    AuthorityMenuClass amc ( NOLOCK )
            JOIN dbo.AuthorityRoleMentMenuSet aam ( NOLOCK ) ON aam.MenuId = amc.Id
    WHERE   aam.RoleId = @roleID
            and amc.BeLock = CAST(0 AS BIT)	
ELSE
    SELECT  AccoutId ,
            MenuId ,
            ParId ,
            MenuName ,
            ISNULL(Url, '') AS Url ,
            amc.IsButton 
    FROM    AuthorityMenuClass amc ( NOLOCK )
            JOIN dbo.AuthorityAccountMenuSet aam ( NOLOCK ) ON aam.MenuId = amc.Id
    WHERE   aam.AccoutId = #{accountId}
            AND amc.BeLock = CAST(0 AS BIT) 
  </select>
   <select id="getAuthSettingList" resultType="com.edaisong.toolsentity.domain.MenuEntity"  parameterType="java.lang.Integer" >
    SELECT  * ,
            -1 AS accoutid
    FROM    (select * from AuthorityMenuClass a WITH ( NOLOCK )) a 
            LEFT JOIN ( SELECT  b.MenuId
                        FROM    AuthorityAccountMenuSet b WITH ( NOLOCK )
                        WHERE   b.AccoutId = #{userID}
                      ) t ON a.Id = t.MenuId   
    where a.BeLock = CAST(0 AS BIT)	
  </select>
     <select id="getRoleAuthSettingList" resultType="com.edaisong.toolsentity.domain.MenuEntity"  parameterType="java.lang.Integer" >
SELECT  *,-1 as accoutid 
FROM    AuthorityMenuClass a WITH ( NOLOCK )
        LEFT JOIN ( SELECT  b.MenuId
                    FROM    AuthorityRoleMentMenuSet b WITH ( NOLOCK )
                    WHERE   b.roleid = #{roleID}
                  ) t ON a.Id = t.MenuId 
  where a.BeLock = CAST(0 AS BIT)	
  </select>
  <!-- 根据菜单父级ID查询子菜单 茹化肖 -->
  <select id="getListMenuByParId" resultMap="BaseResultMap" parameterType="int">
  	SELECT Id,ParId,MenuName,BeLock,Url,IsButton,AuthCode FROM AuthorityMenuClass with(nolock) where ParId=#{parId,jdbcType=INTEGER} and BeLock = CAST(0 AS BIT)	 
  </select>
   <!-- 查询所有菜单 茹化肖 -->
  <select id="getListMenuAll" resultType="com.edaisong.toolsentity.domain.MenuEntity">
  	SELECT Id,ParId,MenuName,BeLock,Url,IsButton,AuthCode FROM AuthorityMenuClass with(nolock) 
  </select>
   
  <!-- 查询菜单详情 茹化肖 -->
  <select id="menudetail" resultType="com.edaisong.toolsentity.domain.MenuDetail" parameterType="int">
  	SELECT  amc.Id ,
        amc.ParId ,
        amc.MenuName ,
        amc.BeLock ,
        amc.Url ,
        amc.IsButton ,
        amc.AuthCode,ISNULL(amc2.MenuName,'一级菜单') AS ParMenuName,
        CASE WHEN amc.ParId=0 THEN 1 WHEN amc.ParId!=0 AND amc.IsButton =0 THEN 2 ELSE 3 END AS Jibie
        FROM dbo.AuthorityMenuClass AS amc (NOLOCK)
LEFT JOIN dbo.AuthorityMenuClass AS amc2 (NOLOCK) ON amc.ParId=amc2.id
WHERE amc.id=#{parId,jdbcType=INTEGER}
  </select>
   <select id="menudetailjava" resultType="com.edaisong.toolsentity.domain.MenuDetail" parameterType="int">
  	SELECT  amc.Id ,
        amc.ParId ,
        amc.MenuName ,
        amc.BeLock ,
        amc.Url ,
        amc.javaUrl,
        amc.IsButton ,
        amc.AuthCode,ISNULL(amc2.MenuName,'一级菜单') AS ParMenuName,
        CASE WHEN amc.ParId=0 THEN 1 WHEN amc.ParId!=0 AND amc.IsButton =0 THEN 2 ELSE 3 END AS Jibie
        FROM dbo.AuthorityMenuClass AS amc (NOLOCK)
LEFT JOIN dbo.AuthorityMenuClass AS amc2 (NOLOCK) ON amc.ParId=amc2.id
WHERE amc.id=#{parId,jdbcType=INTEGER}
  </select>
  
  
  <select id="getMenuById" resultMap="BaseResultMap" parameterType="int">
  	SELECT Id,ParId,MenuName,BeLock,Url,IsButton FROM AuthorityMenuClass with(nolock) where Id=#{Id,jdbcType=INTEGER} 
  </select>
  <!-- 新增菜单 茹化肖 -->
  <insert id="addMenu"  >
   INSERT INTO dbo.AuthorityMenuClass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parid != null" >
        ParId,
      </if>
      <if test="menuname != null" >
        MenuName,
      </if>
      <if test="belock != null" >
        BeLock,
      </if>
      <if test="url != null" >
        Url,
      </if>
      <if test="isbutton != null" >
        IsButton,
      </if>
      <if test="javaUrl != null" >
        JavaUrl,
      </if>
      <if test="authCode != null" >
        AuthCode,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," > 
      <if test="parid != null" >
        #{parid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null" >
        #{menuname,jdbcType=NVARCHAR},
      </if>
      <if test="belock != null" >
        #{belock,jdbcType=BIT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=NVARCHAR},
      </if>
      <if test="isbutton != null" >
        #{isbutton,jdbcType=BIT},
      </if>
      <if test="javaUrl != null" >
        #{javaUrl,jdbcType=NVARCHAR},
      </if>
      <if test="authCode != null" >
        #{authCode,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 编辑菜单 茹化肖 -->
  <update id="updateMenu" parameterType="com.edaisong.toolsentity.AuthorityMenuClass">
  UPDATE  dbo.AuthorityMenuClass SET 
  	  <trim suffixOverrides="," > 
      <if test="menuname != null" >
       MenuName=#{menuname,jdbcType=NVARCHAR},
      </if>
      <if test="belock != null" >
         BeLock=#{belock,jdbcType=BIT},
      </if>
      <if test="url != null" >
        Url= #{url,jdbcType=NVARCHAR},
      </if>
      <if test="isbutton != null" >
         IsButton= #{isbutton,jdbcType=BIT},
      </if>
      <if test="javaUrl != null" >
         JavaUrl =#{javaUrl,jdbcType=NVARCHAR},
      </if>
      <if test="authCode != null" >
         AuthCode= #{authCode,jdbcType=NVARCHAR},
      </if> 
      </trim>
      WHERE ID=#{id,jdbcType=INTEGER}
  </update>
</mapper>