@charset "UTF-8";
/*样式重置*/
div,a,span,p,var,em,strong,input,img,textarea,h1,h2,h3,h4,h5,h6,body,ul,li,ol,dl,dd,dt,table,th,tr,td {margin:0;padding:0;word-wrap:break-word;word-break:break-all;}
body{height:auto;font-size:12px;font-family:微软雅黑,Microsoft YaHei,Arial,Verdana;background:#fff;color:#1c2831;}
a{text-decoration:underline;}/*text-decoration:underline;*/
p{text-align:justify; text-justify:inter-ideograph}/*对齐*/
ul,ol {list-style-type:none;}
img,input,textarea,h1,h2,h3,h4,h5,h6 {border:0px;font-family:Microsoft YaHei;}
.clear{clear:both;height:0px;overflow:hidden;}
/*页面样式开始*/
.ex_box{
	width:100%;
	height:650px;
	background:#0a1b4c;
}
.ex_top{
	width:100%;
	background:#fff;
}
.ex_top p{
	width:1000px;
	height:70px;
	margin:0 auto;
}
.ex_cont{
	width:1000px;
	margin:0 auto;
}
.cont_left{
	float:left;
}
.cont_right{
	float:right;
}
.ex_error{
	margin-top:20px;
	height:30px;
}
.ex_error p{
	line-height:30px;
	text-align:center;
	color:#f7585d;
	font-size:14px;
	background:#ffeec4;
	display:none;
}
.right_for{
	width:350px;
	height:428px;
	background:#fff;
}
.right_for h3{
	padding:26px 0 20px 25px;
	font-size:20px;
	color:#1c2831;
	font-weight:normal;
}
.right_for input[type="text"],.right_for input[type="password"]{
	margin-left:25px;
	width:248px;
	height:43px;
	line-height:43px;
	padding-left:50px;
	border:1px solid #c0c2cb;
	border-radius:3px;
}
.right_for input[type="submit"]{
	margin:26px 0 26px 25px;
	width:298px;
	height:43px;
	color:#fff;
	text-align:center;
	line-height:43px;
	background:#006699;
	border-radius:3px;
	cursor:pointer;
}
.ex_iphone{
	background:url(../images/ex_name.png) no-repeat 10px center;
}
.ex_pord{
	background:url(../images/ex_pord.png) no-repeat 10px center;
}
.ex_get{
	background:url(../images/ex_get.png) no-repeat 10px center;
}
.ex_over{
	position:relative;
}
.ex_over img{
	position:absolute;
	left:-107px;
	margin-top:1px;
}
.right_for p{
	height:24px;
	font-size:12px;
	color:#f7585d;
	line-height:24px;
	margin-left:25px;
}
.right_for label input{
	margin-left:25px;
	position:relative;
	top:2px;
}
.right_for dl{
	text-align:center;
}
.ex_foot{
	clear:both;
	height:80px;
	width:100%;
	background:#fff;
}
.footer{
	width:1000px;
	margin:0 auto;
}
.footer_left{
	float:left;
	margin-top:18px;
}
.footer_right{
	float:right;
	margin-top:18px;
}
.footer_right span{
	display:block;
	text-align:right;
	color:#666666;
	line-height:24px;
}