.content2{
	background-color:#fafbfc;
}
.content2 .center .box2{
	margin-bottom: 30px;
}
.content2 .center .box2 h4{
	position: relative;
	width: 100%;
	color:#000;
	font-size: 16px;
}
.content2 .center .box2 h4 span{
	width: 90px;
	background-color:#fff;
	z-index:2;
}
.content2 .center .box2 h4 i{
	display: block;
	width: 998px;
	height: 1px;
	text-indent: -9999px;
	margin-top: 12px;
	border-top:1px dashed #ccc;
	z-index:1;
}
.content2 .center .box2 .box2-ny{
	position: relative;
	margin-top: 30px;
	padding-left: 135px;
}
.content2 .center .box2 .box2-ny p{
	margin-bottom: 20px;
}
.content2 .center .box2 .box2-ny p span{
	width: 95px;
	height: 45px;
	line-height: 45px;
	text-align: right;
	color:#000;
	font-size: 14px;
	margin-right: 20px;
}
.content2 .center .box2 .box2-ny p span em{
	line-height: 53px;
}
.content2 .center .box2 .box2-ny p em{
	display: block;
	height: 45px;
	line-height: 45px;
	color:#f7585d;
	font-size: 14px;
}

.content2 .center .box2 .box2-ny ul{
	overflow:auto;
	position: absolute;
	top:45px;
	left:250px;
	width: 288px;
	max-height: 191px;
	padding:0 10px;
	background-color:#fff;
	border:1px solid #c0c2cb;
	border-top:none;
	z-index: 3;
}
.content2 .center .box2 .box2-ny ul li{
	padding:10px 0;
	border-bottom:1px solid #eaeaea;
}
.content2 .center .box2 .box2-ny ul li a{
	position: relative;
	display: block;
	font-size: 14px;
}
.content2 .center .box2 .box2-ny ul li a i{
	display: block;
	color:#000;
	font-style: normal;
}
.content2 .center .box2 .box2-ny ul li a s{
	display: block;
	text-decoration: none;
	color:#bbb;
}
.content2 .center .box2 .box2-ny ul li a b{
	display: block;
	position: absolute;
	top:16px;
	right:5px;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	background:url(../images/close.png) no-repeat;
	background-size:10px;
}

.content2 .center .box2 .box2-ny p input[type="text"]{
	width: 300px;
	height: 43px;
	line-height: 45px;
	margin-right: 20px;
	padding-left: 8px;
	border:1px solid #c0c2cb;
}
.content2 .center .box2 .box2-ny p label{
	line-height: 45px;
	color:#000;
	font-size: 14px;
	margin-right: 70px;
}
.content2 .center .box2 .box2-ny p label input[type="radio"]{
	margin: 17px 5px 0 0;
}
.content2 .center .box2 .box2-ny .orderBox{
	width: 744px;
	/*min-height:200px;*/
	margin-left: -75px;
	padding:10px 0;
	background-color:#e7e9ef;
	border:1px dashed #c1c7d7;
}
.content2 .center .box2 .box2-ny .orderBox p{
	margin:0 0 10px 75px;
}
.content2 .center .box2 .box2-ny .orderBox p s{
	display: block;
	width: 180px;
	height: 45px;
	line-height: 45px;
	text-decoration:none;
	color:#f7585d;
	font-size: 14px;
}
.content2 .center .box2 .box2-ny .orderBox p a{
	display: block;
	width: 68px;
	height: 28px;
	line-height: 30px;
	text-indent: 32px;
	font-size: 14px;
	margin-top: 7px;
	border:1px solid #006699;
	border-radius:3px;
}
.content2 .center .box2 .box2-ny .orderBox p a.add{
	color:#fff;
	background:url(../images/add.png) no-repeat 11px center#006699;
}
.content2 .center .box2 .box2-ny .orderBox p a.del{
	color:#006699;
	background:url(../images/del.png) no-repeat 11px center#fff;
}
.content2 .center .box2 .box2-ny .orderBox p b{
	width: 180px;
	color:#000;
	font-size: 14px;
	font-weight: normal;
}
.content2 .center .box2 .box2-ny .orderBox p b input[type="text"]{
	width: 138px;
	height: 43px;
	margin-right: 0px;
	border:1px solid #c0c2cb;
}
.content2 .center .box2 .box2-ny .orderBox p em{
	margin-left: 45px;
}
.content2 .center .box2 .box2-ny .orderBox .copy{
	position: relative;
}
.content2 .center .box2 .box2-ny .orderBox .copy .impo{
	position: absolute;
	left:0px;
	top:3px;
}
.content2 .center .box2 .box2-ny p textarea{
	min-width: 328px;
	max-width: 328px;
	min-height: 73px;
	max-height: 73px;
	padding: 5px;
	border:1px solid #c0c2cb;
}

.content2 .center .projects{
	width: 746px;
	margin-left: 60px;
	padding-bottom:30px;
}
.content2 .center .projects input[type="button"]{
	display: block;
	width: 200px;
	height: 50px;
	color:#fff;
	font-size: 16px;
	margin-left:190px;
	background-color:#006699;
	border:none;
	border-radius:3px;
	cursor:pointer;
}
