.content{
	text-align: center;
	overflow:hidden;
}
.content img{
	display: block;
	margin:30px auto 42px;
}
.content h1{
	line-height: 50px;
	color:#000;
	font-size: 18px;
}
.content input[type="button"]{
	width: 130px;
	height: 37px;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 18px;
	background-color:#006699;
	border:none;
	border-radius:3px;
	cursor:pointer;
}
.content p{
	color:#000;
	font-size: 14px;
}
.content p span{
	color:#f7585d;
	margin-right: 5px;
}