
.popup .bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	background:url(../images/bg.png) repeat;
	z-index: 1;
}
.popup .popupBox{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 310px;
	text-align: center;
	margin: -152px 0 0 -190px;
	padding:25px 35px;
	background-color:#fff;
	z-index: 2;
	box-sizing:content-box;
}
.popup .popupBox1{
}
.popup .popupBox1 h1{
	text-align: center;
	color:#006699;
	font-size: 20px;
	margin-bottom: 10px;
}
.popup .popupBox1 p{
	line-height: 25px;
	color:#333;
	font-size: 14px;
}
.popup .popupBox1 p span{
	display: block;
	width: 75px;
	text-align: right;
	margin-right: 10px;
}
.popup .popupBox1 i{
	display: block;
	text-align: left;
	color:#333;
	font-size: 14px;
	font-style: normal;
	margin-top: 10px;
}
.popup .popupBox1 i s{
	text-decoration: none;
	color:#f7585d;
	font-size: 18px;
	margin:0 5px;
}
.popup .popupBox1 a{
	display: inline-block;
	width: 143px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
	border-radius:3px;
}
.popup .popupBox1 a.qx{
	color:#333;
	background-color:#f9f9f9;
	border:1px solid #cdcdcd;
}
.popup .popupBox1 a.qr{
	color:#fff;
	background-color:#006699;
	border:1px solid #006699;
}

.popup .popupBox2{
	height:195px;
}
.popup .popupBox2 img{
	margin:10px 0;
}
.popup .popupBox2 h2{
	color:#333;
	font-size: 18px;
}
.popup .popupBox2 a{
	display: inline-block;
	width: 195px;
	height: 45px;
	line-height: 45px;
	color:#fff;
	font-size: 16px;
	margin-top: 30px;
	background-color:#006699;
	border-radius:3px;
}

.popup .popupBox3{
	height:195px;
}
.popup .popupBox3 a,
.popup .popupBox4 a{
	display: block;
	position: absolute;
	right:10px;
	top:10px;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	background:url(../images/close.png) no-repeat;
}
.popup .popupBox3 img{
	margin:20px 0;
}
.popup .popupBox3 p{
	line-height: 30px;
	color:#333;
	font-size: 18px;
}

.popup .popupBox4 p{
	color:#000;
	font-size: 18px;
}




.popup .popupBox5{
	height: 120px;
}
.popup .popupBox5 h1{
	text-align: center;
	color:#006699;
	font-size: 20px;
	margin-bottom: 10px;
}
.popup .popupBox5 a{
	display: inline-block;
	width: 143px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
	border-radius:3px;
}
.popup .popupBox5 a.qx2{
	color:#333;
	background-color:#f9f9f9;
	border:1px solid #cdcdcd;
}
.popup .popupBox5 a.qr2{
	color:#fff;
	background-color:#006699;
	border:1px solid #006699;
}