<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

<!-- Log4j提供的appender有以下几种: -->
 <!-- org.apache.log4j.ConsoleAppender(控制台), -->
 <!-- org.apache.log4j.FileAppender(文件), -->
 <!-- org.apache.log4j.DailyRollingFileAppender(每天产生一个日志文件), -->
 <!-- org.apache.log4j.RollingFileAppender(文件大小到达指定尺寸的时候产生一个新的文件), -->
 <!-- org.apache.log4j.WriterAppender(将日志信息以流格式发送到任意指定的地方) -->
    <!-- 控制台输出 -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="Info"/>
        </filter>
    </appender> 
    <!-- 系统启动日志输出文件 -->
    <appender name="webAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="c:/log/web/web.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
               <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p][%c:%L]- %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>
        <appender name="apiAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="c:/log/api/api.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
               <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p][%c:%L]- %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>
    <appender name="globalExceptionAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="c:/log/global/global.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
               <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p][%c:%L]- %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>

    <category name="globalExceptionLogger" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="globalExceptionAppender"/>
    </category>

    <category name="apiLogger" additivity="false">
        <!--若将level的value更改为OFF，则表示关掉该下的所有日志-->
        <level value="INFO"/>
        <appender-ref ref="apiAppender"/>
    </category>
    <category name="webLogger" additivity="false">
        <!--若将level的value更改为OFF，则表示关掉该下的所有日志-->
        <level value="INFO"/>
        <appender-ref ref="webAppender"/>
    </category>
<!--     <root> -->
<!--         <level value="ALL"/> -->
<!--         <appender-ref ref="stdout"/> -->
<!--     </root> -->

</log4j:configuration>
